<nav class="nav-b">
	<ul class="list-l">
		<li class="item-a{if $item->id eq 694} active{/if}"><a href="{$siteRoutes[694]->slug}.html"><span class="outer"><span class="inner">{$mainSites[694]->text_data_3}</span></span></a></li>
		<li class="item-b{if $item->id eq 2} active{/if}"><a href="{$siteRoutes[694]->slug}/{$siteRoutes[2]->slug}.html"><span class="outer"><span class="inner">{$mainSites[2]->title}</span></span></a></li>
		<li class="item-c{if $item->id eq 215} active{/if}"><a href="{$siteRoutes[694]->slug}/{$siteRoutes[215]->slug}.html"><span class="outer"><span class="inner">{$mainSites[215]->title}</span></span></a></li>
		<li class="last item-d{if $item->id eq 216} active{/if}"><a href="{$siteRoutes[694]->slug}/{$siteRoutes[216]->slug}.html"><span class="outer"><span class="inner">{$mainSites[216]->title}</span></span></a></li>
	</ul>
</nav>