<ul class="list-i ontapchange">
	{if $prevInfo}<li class="prev"><a href="{$baseurl}{$siteRoutes[207]->slug}/{$prevInfo->slug}.html" class="link-e" data-direction="reverse">{$siteTexts[862]->content|strip_tags}</a></li>{/if}
	{if $nextInfo}<li class="next"><a href="{$baseurl}{$siteRoutes[207]->slug}/{$nextInfo->slug}.html" class="link-e">{$siteTexts[863]->content|strip_tags}</a></li>{/if}
</ul>