{include file="header.tpl"}
		<h1>
			{if !$itemsList|@count}
			No clients found
			{else}
			All clients ({$allItemsCount})
			{/if}
		</h1>
		{if $subheader}
		<h2>{$subheader}</h2>
		{/if}
		<div class="medium">
			<div id="filterBox">
				<form action="{$link}/filter/{$item->id}" method="post">
					{include file="common/menu_tree.tpl" scope=parent}
					<p class="field-a">
						<input type="text" id="searchFilterTxt" name="searchFilterTxt" value="{$filter.searchFilterTxt}" title="Search in title and content"/>
						<select name="categoryFilter">
							<option value="-1">--All categories--</option>
							{call menu data=$categoryTree currentItem=$filter.categoryFilter forbiddenItem=$forbiddenItem}
						</select>
					</p>
					<p class="btn section-a">
						<button type="submit">
							Search
						</button>
					</p>
				</form>
			</div>

		{if $itemsList}
			{include file='pagination.tpl'}
			{include file='perPage.tpl'}
			<table class="item-table">
				<thead>
					<tr>
						<th class="toleft">ID</th>
						<th class="toleft">Name</th>
						<th class="toleft">Description</th>
						<th class="toleft">Category</th>
						<th class="toleft">Is on extended list</th>
						<th class="toleft">Pictures count</th>
						<th class="toleft">Movies count</th>
						<th colspan="4">Options</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$itemsList item=item}
					<tr{cycle values=' class="diff",'}>
						<td>{$item->id}</td>
						<td class="toleft"><a href="{$link}/edit/{$item->id}">{$item->title}</a></td>
						<td class="toleft">{$item->content|strip_tags|truncate:120:"&hellip;":false}</td>
						<td class="toleft">
							{if $item->categories}
								{foreach $item->categories as $categoryPath}
									{foreach $categoryPath as $category}
										<a href="{$categoryLink}/edit/{$category->category_id}">{$category->name}</a> {if !$category@last}-> {/if}
									{/foreach}
								{/foreach}
							{else}
							No category
							{/if}
						</td>
						<td class="toleft">{if $item->li_num_data_1}Yes{else}No{/if}</td>
						<td class="toleft">{$item->pictures_num}</td>
						<td class="toleft">{$item->videos_num}</td>
						<td class="toleft"><a href="itemspictures/{$mainName}/chooseitem/{$item->id}">Manage pictures</a></td>
						<td class="toleft"><a href="itemsvideos/{$mainName}/chooseitem/{$item->id}">Manage movies</a></td>
						<td><a href="{$link}/edit/{$item->id}">Edit</a></td>
						<td><a rel="dialog-clients" href="{$link}/removeItem/{$item->id}{if $offset}/{$offset}{/if}" class="del-opt" title="'{$item->title}'">Delete</a></td>
					</tr>
				{/foreach}
				</tbody>
			</table>
			{include file='pagination.tpl'}
			{include file="common/importexport.tpl"}
		{/if}
		</div>
		<div class="dialog-box" id="dialog-clients" title="Delete news?">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
				<span style="display:block; padding-left: 25px;">Client <em></em> will be deleted.<br/> Are you sure?</span>
			</p>
		</div>
{include file="footer.tpl"}
