{include file="tiny_templates/template-header.tpl"}
	<article class="art-c mceTmpl">
		<div class="art-c-wrapper">
			<p class="image-d"><img src="http://{$smarty.server.HTTP_HOST}/images/templates/person_temp.png" alt="" width="139" height="124" /></p>
			<div class="content">
			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</blockquote>
			<p class="cite"><cite>John Doe</cite> Company Position, Company Name.</p>
		</div><!-- .content -->	
	</div><!-- .art-c-wrapper -->
{include file="tiny_templates/template-footer.tpl"}