<nav class="nav-b">
	<ul class="list-l">
		<li class="item-a{if $item->id eq 636} active{/if}"><a href="{$siteRoutes[636]->slug}.html"><span class="outer"><span class="inner">{$mainSites[636]->text_data_3}</span></span></a></li>
		<li class="item-e{if $item->id eq 635} active{/if}"><a href="{$siteRoutes[636]->slug}/{$siteRoutes[635]->slug}.html"><span class="outer"><span class="inner">{$mainSites[635]->title}</span></span></a></li>
		<li class="item-f{if $item->id eq 634} active{/if}"><a href="{$siteRoutes[636]->slug}/{$siteRoutes[634]->slug}.html"><span class="outer"><span class="inner">{$mainSites[634]->title}</span></span></a></li>
		<li class="last item-g{if $item->id eq 607} active{/if}"><a href="{$siteRoutes[636]->slug}/{$siteRoutes[607]->slug}.html"><span class="outer"><span class="inner">{$mainSites[607]->title}</span></span></a></li>
	</ul>
</nav>