{include file="pconnector/subnav.tpl"}
<article class="art-b{if $item->file_data_2 eq ''} artb-a{/if}">
	<h1 class="header-e">
		{$item->text_data_2|strip_tags:"<strong>"}
	</h1>
	{*{if $item->main_image}
		<p class="image"><img src="userfiles/mtpages/{$item->main_image}" alt=""/></p>
	{/if}*}

	{if $item->file_data_2}<p class="image"><img src="{$item->file_data_2}" {$item->file_data_2_info[3]} alt=""/></p>{/if}
</article><!-- .art-b -->