<nav class="nav-b">
	<ul class="list-l ll-a">
		<li class="item-a{if $item->id eq 880} active{/if}"><a href="{$siteRoutes[880]->slug}.html"><span class="outer"><span class="inner">{$mainSites[880]->text_data_3}</span></span></a></li>
		{*<li class="item-h{if $item->id eq 956} active{/if}"><a href="{$siteRoutes[880]->slug}/{$siteRoutes[956]->slug}.html"><span class="outer"><span class="inner">{$mainSites[956]->title}</span></span></a></li>*}
		<li class="item-c{if $item->id eq 881} active{/if}"><a href="{$siteRoutes[880]->slug}/{$siteRoutes[881]->slug}.html"><span class="outer"><span class="inner">{$mainSites[881]->title}</span></span></a></li>
		<li class="last item-d{if $item->id eq 882} active{/if}"><a href="{$siteRoutes[880]->slug}/{$siteRoutes[882]->slug}.html"><span class="outer"><span class="inner">{$mainSites[882]->title}</span></span></a></li>
	</ul>
</nav>