<p class="btn">
   <input type="hidden" name="langid" value="{$lang.id}"/>
   <input type="hidden" name="next" value="{$lang.next_lang_code}"/>					
	
	<button type="submit">
		Submit &gt;
	</button>
	
	{if $backData.languages|@count > 1}
	<button class="btn-a" type="submit" name="submit-and-next" value="1">
		Submit and edit next language &gt;
	</button>     
	{/if}
</p>