{include file="header.tpl"}
		<h1>
			{if !$itemsList|@count}
			No page or section found
			{else}
			All main pages and sections ({$allItemsCount})
			{/if}
		</h1>
		{if $subheader}
		<h2>{$subheader}</h2>
		{/if}
		<div class="medium">
			<div id="filterBox">
				<form action="{$link}/filter/{$item->id}" method="post">
					<p class="field-a">
						<input type="text" id="searchFilterTxt" name="searchFilterTxt" value="{$filter.searchFilterTxt}" title="Search"/>
					</p>
					<p class="btn section-a">
						<button type="submit">
							Search
						</button>
					</p>
				</form>
			</div>

		{if $itemsList}
			{include file='pagination.tpl'}
			{include file='perPage.tpl'}
			<table class="item-table">
				<thead>
					<tr>
						<th class="toleft">ID</th>
						<th class="toleft">Title</th>
						<th class="toleft">Content</th>
						<th class="toleft">Pictures count</th>
						<th class="toleft">Movies count</th>
						<th colspan="4">Options</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$itemsList item=item}
					<tr{cycle values=' class="diff",'}>
						<td>{$item->id}</td>
						<td class="toleft"><a href="{$link}/edit/{$item->id}">{$item->title}</a></td>
						<td class="toleft">{$item->content|strip_tags|truncate:120:"&hellip;":false}</td>
						<td class="toleft">{$item->pictures_num}</td>
						<td class="toleft">{$item->videos_num}</td>
						<td class="toleft"><a href="itemspictures/{$mainName}/chooseitem/{$item->id}">Manage pictures</a></td>
						<td class="toleft"><a href="itemsvideos/{$mainName}/chooseitem/{$item->id}">Manage movies</a></td>
						<td><a href="{$link}/edit/{$item->id}">Edit</a></td>
						{*<td><a href="{$link}/removeItem/{$item->id}{if $offset}/{$offset}{/if}" class="del-opt" rel="dialog-mainpages" title="'{$item->title}'">Delete</a></td>*}
					</tr>
				{/foreach}
				</tbody>
			</table>
			{include file='pagination.tpl'}
			{include file="common/importexport.tpl"}
		{/if}
		</div>
		<div class="dialog-box" id="dialog-mainpages" title="Delete page/section?">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
				<span style="display:block; padding-left: 25px;">Page <em></em> will be deleted.<br/> Are you sure?</span>
			</p>
		</div>
{include file="footer.tpl"}
