<ul class="list-a">
	<li><a href="{$baseurl}{$siteRoutes[636]->slug}/{$siteRoutes[635]->slug}.html">{$mainSites[635]->title}</a></li>				
	<li><a href="{$baseurl}{$siteRoutes[636]->slug}/{$siteRoutes[634]->slug}.html">{$mainSites[634]->title}</a></li>				
	<li><a href="{$baseurl}{$siteRoutes[636]->slug}/{$siteRoutes[607]->slug}.html">{$mainSites[607]->title}</a></li>
</ul>