table{border-collapse:collapse;} 


#mainMenu a{ height: 100%; float: left;}

#secondMenu ul li{height:1px;}

#mainMenu{border-bottom:1px solid #fff;}
#mainMenu li{height:1px;}

#tabs a{height: 100%; float: left;}

#bannersList li { height: 1%;  float:left; }
#bannersList li a { height: 1%; }
