/*
 * Project:   Solis Login Page
 * Date:      2009-05-09
 * webpassion.pl
 * Maciej Węgrzynek (maciej@webpassion.pl)
/* ---------------------------------------- */

* { margin: 0; padding: 0; }

html { min-height: 100%; margin: 0 0 1px; font-size: 100.01%; }
body { background: #fff; font-size: 62.5%; }

@media only screen and (max-device-width: 480px) { html { -webkit-text-size-adjust: none; } }

body, textarea, input, select, option, button { color: #555; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; line-height: 1.25; }
li, dt, dd, p, th, td, caption, pre { font-size: 1.2em; }
ul, ol, dl, p, table, pre, h1, h2, h3, h4, h5, h6 { margin-bottom: 15px; }

a { color:#216e89; text-decoration: underline; }
a:hover, a:focus, a:active { color: #000; text-decoration: underline; }

ul, ol, dd, blockquote { padding-left: 40px; }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }
li *, li p, li li, dt *, dd *, p * { font-size: 1em; }

img { border: none; -ms-interpolation-mode: bicubic; }
pre { font-family: "Courier New",monospace; white-space: pre-wrap; }
table { border-collapse: collapse; border-spacing: 0; }
button { overflow: visible; padding: 4px 10px; color: #fff; text-transform: uppercase; border: 1px solid #818181; background: #979797; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; } 
button::-moz-focus-inner { padding: 0; border: none; }

hr { overflow: hidden; height: 1px; margin: 15px 0 !important; margin: -5px 0 8px; padding: 0; border: none; background-color: #ccc; color: #ccc; }
*:first-child+html hr { margin: -7px 0 8px !important; }

.offset { position: absolute !important; left: -10001px !important; overflow: hidden !important; }

/* LAYOUT
------------------------------------------- */

#root { position: absolute; top: 50%; left: 50%; z-index: 900; width: 480px; margin: -250px 0 0 -240px; } 
 #content { position: relative; width: 480px; margin: 0 auto; text-align: left; }
   
/* GENERAL
------------------------------------------- */

/* headers */
h1, h2, h3, h4, h5, h6 { }
h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

/* tables */
table { }
 table th, table td { padding: 5px 10px; border: 1px solid #ccc; }

p.link-container { padding: 10px; text-align: center; }
.hidden { display:none; }

/* ELEMENTS
------------------------------------------- */
/* login-header */
#login-header { text-align:center; }
 #login-header h1 { }

/* login-form */ 
.login-form { margin:0 auto; border:3px solid #e6e6e6; background:#f2f2f2; text-align:left; }
 .login-form a { color:#216e89; }
 .login-form a:hover { text-decoration:none; }
 .login-form div { padding: 25px 30px; }
  .login-form div ul { list-style:none; margin: 0; padding: 0; }
   .login-form div ul li { clear: both; margin-bottom: 1px; padding: 15px; }
    .login-form div ul li label { float:left; display: block; width: 60px; padding:3px 10px 0 0; color:#000; font-weight: bold; }
    .login-form div ul li input { width: 300px; padding: 3px; border-top: 1px solid #cbcbcb; border-left: 1px solid #cbcbcb; border-bottom: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; }    
    .login-form div ul li #forgot-link { padding-left: 30px; background: url('../images/forgotico.gif') 10px 50% no-repeat; }
    .login-form div p { padding: 10px 0; }
    .login-form div p.btn { font-size: 1em; text-align: right; }
    
.warnings { margin-bottom: 20px; padding: 10px; border:2px solid #b05454; background: #d76363; text-align:left; }
 .warnings li { padding: 2px 0; background: none; color: #000; }
 .login-form .warnings li { padding: 10px 10px; }
  .warnings li strong {  }
   
#subtitle { font-size:0.84em; color: #999; text-align: center; padding: 40px;}


