/*
 * webpassion.pl, hitmo.pl
 * Maciej Węgrzynek (maciej@webpassion.pl)
/* ---------------------------------------- */

* { margin: 0; padding: 0; }

html { min-height: 100%; margin: 0 0 1px; font-size: 100.01%; }
body { background: #fff; font-size: 62.5%; }

@media only screen and (max-device-width: 480px) { html { -webkit-text-size-adjust: none; } }

body, textarea, input, select, option, button { color: #555; font-family: Tahoma, Geneva, sans-serif; line-height: 1.25; }
li, dt, dd, p, th, td, caption, pre { font-size: 1.2em; }
ul, ol, dl, p, table, pre, h1, h2, h3, h4, h5, h6 { margin-bottom: 15px; }

a { color: #074b6e; text-decoration: underline; }
a:hover, a:focus, a:active { color: #000; text-decoration: none; }

ul, ol, dd, blockquote { padding-left: 40px; }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }
li *, li p, li li, dt *, dd *, p * { font-size: 1em; }

img { border: none; -ms-interpolation-mode: bicubic; }
pre { font-family: "Courier New",monospace; white-space: pre-wrap; }
table { border-collapse: collapse; border-spacing: 0; } 
button { overflow: visible; padding: 4px 10px; color: #fff; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase; border: 1px solid #818181; background: #838283 url(../images/btn1.png) top left repeat-x; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
*:first-child+html button { margin-right: 5px; }
button:hover { border: 1px solid #666; background: #5a5a58 url(../images/btn1-hover.png) top left repeat-x; }

button.btn-a { border: 1px solid #a06262; background: #a06262 url(../images/btn2.png) top left repeat-x; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
button.btn-a:hover { border: 1px solid #7e3d3d; background: #7e3d3d url(../images/btn2-hover.png) top left repeat-x; }
button::-moz-focus-inner { padding: 0; border: none; }

hr { overflow: hidden; height: 1px; margin: 15px 0 !important; margin: -5px 0 8px; padding: 0; border: none; background-color: #ccc; color: #ccc; }
*:first-child+html hr { margin: -7px 0 8px !important; }

.offset { position: absolute !important; left: -10001px !important; overflow: hidden !important; }

/* LAYOUT
------------------------------------------- */


 #top { min-width: 1110px; border-top: 1px solid #54a4ff; background: #fff url('../images/top-bcg.gif') top left repeat-x; }
  #logo { padding: 20px 0 0 50px; }
   #logo a { }
 #content { min-width:950px; padding:20px 50px; }
 #footer { }

/* GENERAL
------------------------------------------- */


/* headers */

h1, h2, h3, h4, h5, h6 { color: #000; }
h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

h1 em { color:#074b6e; font-weight:normal; }
h2 a { color:#074b6e; }

/* containers */
div.medium { width:950px; }
table.medium { width:950px; }
div.narrow { width:550px; }
.section { padding:15px 0; margin-top:15px; border-top:1px solid #e0e0e0; }

/* tables */
table { }
 table th, table td { padding: 5px 10px; /*border: 1px solid #ccc;*/ }
 
 .table-a { width: 800px; }
 .table-a th { background-color: #ddd; text-align: left; }
 .table-a th, .table-a td { padding: 5px 10px; border: 1px solid #ccc; }
 .table-a td li { font-size: 1em; }

.clear { clear: both; }
.btn { font-size: 1em; margin: 0; }

/* warnings, errors */
.warning { color:#b02900; }
ul.warning { list-style: none; padding:10px; background: #f7f7f7; border: 2px solid #f1f1f1; margin-bottom: 6px; }
 ul.warning li{ padding-bottom:5px; }

h3.warning { padding: 10px; /*background:#d9d9c8;*/ background: #d5a4a4; color: #000; font-size: 1.3em; }
h3.warning.type1 { margin-top: 20px; }

.text-box { padding:20px 10px 10px 10px; }
.text-box-a { padding: 0; }
 .text-box-a p { padding:3px 0; margin: 0 0 5px 0; }
  .text-box p a { color:#074b6e; }
  
.image-box { float: left; width: 120px; }
 .image-box p { margin: 0; }
 
.slider { width: 350px; float: left; margin-top: 6px; }
.with-slider { float: left; margin-right: 15px; }

.maps { width : 584px; height: 344px; }

/* ELEMENTS
------------------------------------------- */

 /* logout-container */
 #logout-container { float: right; margin-right: 20px; padding: 5px 10px; background: #000; color: #fff; }
  #logout-container a { padding-left: 10px; color: #fff; }

 /* navigation */
 #nav { list-style:none; padding:0 50px 0 48px; background: url(../images/nav-brd.png) bottom left repeat-x; }
  #nav ul { list-style:none; margin: 0; padding: 0; width: 100%; }

  #nav li { position:relative; z-index: 1; float: left; margin-left: 2px; font-size: 1em; }
  #nav li.end-section{ margin-right: 10px; }
  #nav li.start-section{ margin-left: 10px; }
  #nav li:hover { z-index: 10; }
  #nav li.last{ float: right; margin-left: 2px; }

   #nav li a { display: block; z-index: 20; min-height: 1px; color: #000; text-decoration: none; background: url('../images/tab1.gif') top left no-repeat; font-weight:bold; text-transform:uppercase; outline:none; }
   #nav li a span { display: block; padding:7px 12px 6px 12px; border-bottom: 1px solid #cacaca; background:url('../images/tab1-1.gif') top right no-repeat; }
   
   #nav li a.current,
   #nav li a:hover.current { background:url('../images/tab2.gif') top left no-repeat; color: #b02900; }
   #nav li a.current span,
   #nav li a:hover.current span { padding:7px 12px; border: none; background:url('../images/tab2-1.gif') top right no-repeat; color: #b02900; }
	
   #nav li:hover a span.has-dropdown { padding:7px 12px; border: none; color: #b02900; }

   #nav li a:hover,
   #nav li:hover a.current,
   #nav li a:hover.current,
   #nav li:hover a { background:url('../images/tab5.gif') top left no-repeat; color:#b02900; }

   #nav li a:hover span,
   #nav li a:hover.current span,
   #nav li:hover a.current span,
   #nav li:hover span { background:url('../images/tab5-1.gif') top right no-repeat; color:#b02900; }

   /* dropdown */
    #nav li ul { position: absolute; z-index: -1; left: -666em; width: 200px; border: 1px solid #aaa; background: #fff url('../images/menu-bar.gif') top left repeat-y; border-left: 1px solid #cacaca; border-top: 1px solid #cacaca; }
    #nav li:hover ul { left: 0; margin-top: -1px; padding: 2px; }
     #nav li ul li { float: none; margin: 0; font-size: 1.1em; }
      #nav li ul li a,
      #nav li:hover ul li a { padding: 5px 10px 5px 27px; background: none; text-transform: none; font-weight: normal; color: #333; }
      #nav li ul li a:hover { background-color: #ededed !important; color: #b02900; outline: 1px solid #d2d2d2; }
   /* end dropdown */

   /*menu icons*/
    #nav li ul li a.mail { background:url('../images/email.png') 2px 50% no-repeat; }
    #nav li ul li a.banned { background:url('../images/delete.png') 2px 50% no-repeat; }
    #nav li ul li a.folder { background:url('../images/folder.png') 2px 50% no-repeat; }
    #nav li ul li a.packet { background:url('../images/shape_move_front.png') 2px 50% no-repeat; }
    #nav li ul li a.article { background:url('../images/page_white.png') 2px 50% no-repeat; }
    #nav li ul li a.payment { background:url('../images/money.png') 2px 50% no-repeat; }
    #nav li ul li a.currency { background:url('../images/money_euro.png') 2px 50% no-repeat; }
    #nav li ul li a.gallery { background:url('../images/pictures.png') 2px 50% no-repeat; }
    #nav li ul li a.pictures { background:url('../images/picture.png') 2px 50% no-repeat; }
    #nav li ul li a.video { background:url('../images/film.png') 2px 50% no-repeat; }
   /* end menu icons */
	
	/* secondary nav */
    #nav-secondary { padding:6px 0 0 50px; background: #f3f3ee url(../images/nav-brd.png) bottom left repeat-x; text-transform: uppercase; }
     #nav-secondary ul { overflow: hidden; list-style: none; margin: 0; padding: 0; width: 100%; }
      #nav-secondary ul li { float:left; margin:0 8px -1px 0; font-size: 1em; }
       #nav-secondary ul li a { display:block; padding:4px 7px 6px 7px; text-decoration: none; color:#888; font-weight:bold; border:1px solid #dadada; border-bottom:none; outline:none; }
       #nav-secondary ul li a:hover { color:#074B6E; border:1px solid #cacaca; border-bottom:none; }
       #nav-secondary ul li a.current { background:#fff; color:#074b6e; border:1px solid #cacaca; border-bottom:none; background:#fff; }
		 
      #nav-secondary ul li.add a { padding-left: 25px; background-image: url(../images/add.png); background-position: 5px 2px; background-repeat: no-repeat; }
      #nav-secondary ul li.edit a { padding-left: 25px; background-image: url(../images/edit.png); background-position: 5px 2px; background-repeat: no-repeat; }
      #nav-secondary ul li.show a { padding-left: 25px; background-image: url(../images/show.png); background-position: 5px 2px; background-repeat: no-repeat; }
   /* end secondary nav */
 /* end navigation */
 
 /* item table */
 /*#itemTable{border-collapse:collapse; font-size:0.84em; width:100%; clear:both;}
#itemTable.medium{width:700px;}
#itemTable a{color:#074b6e;}
 #itemTable td, #itemTable th{padding:5px; text-align:center; color:#000;}
 #itemTable td.toleft, #itemTable th.toleft{text-align:left;}
 #itemTable td.thetitle{font-weight:bold; font-size:1.1em;}
 #itemTable th{background:#d9d9c8; color:#000; border-left:2px solid #fff;}
 #itemTable th.type1{border-bottom:2px solid #fff;}
 #itemTable td{border-left:2px solid #fff; border-bottom:2px solid #fff;}
 #itemTable ul{list-style:none;}
 #itemTable tr.diff{background:#f1f1f1;}
 #itemTable tr.mark{font-weight:bold;}
 #itemTable tr a.special{color:#000; text-decoration:none;}
 #itemTable tr a.special:hover{text-decoration:underline;}

 #itemTable td input, #itemTable td img{vertical-align:middle;}

#itemTable td li.lang1{color:#8c8c8c; font-style:italic;}
#itemTable td.suspended{background:#ebcabd;}


#itemTable ul.katlist li{display:inline; background:url('../images/listbullet.gif') center right no-repeat; padding:0 10px 0 3px;}
 #itemTable ul.katlist li.last{background:none;}
 #itemTable td.imgcontainer{width:52px;}

 #itemTable tbody tr:hover{outline:1px solid #dedede; background:#f1f1e8;}*/
 
 
.item-table { clear: both; width: 100%; border-collapse: collapse; }
.item-table.narrow { width: auto; }
 .item-table caption { padding-bottom: 5px; font-weight: bold; text-align: left; }
 .item-table tbody tr:hover { outline: 1px solid #dedede; background: #f1f1e8; }
 
 .item-table td, 
 .item-table th { padding: 5px; text-align: center; color: #000; font-size: 1.1em;}
 .item-table td.toleft, 
 .item-table th.toleft { text-align: left; }
 .item-table td.thetitle { font-weight: bold; font-size: 1.2em; }
 .item-table th { border-left: 2px solid #fff; background: #d9d9c8; color: #000; }
 .item-table th.type1 { border-bottom: 2px solid #fff; }
 .item-table td { border-left: 2px solid #fff; border-bottom: 2px solid #fff; }
 .item-table td img,
 .item-table td input { vertical-align:middle; } 
 .item-table td.imgcontainer { width:52px; }

 .item-table tr.diff{background:#f1f1f1;}
 .item-table ul { list-style:none; margin: 0; padding: 0; }
  .item-table li.lang1 { color:#8c8c8c; font-style:italic; }
  .item-table ul.katlist li { display: inline; background: url('../images/listbullet.gif') center right no-repeat; padding: 0 10px 0 3px; }
  .item-table ul.katlist li.last { background:none; }

  .item-table a { color:#074b6e; }
  
 .suspended{ background:#ebcabd; } 
 /* end item table */
 
 
 /* .image-list */
 .image-list { overflow: hidden; clear: both; list-style: none; margin: 0; padding: 0; }
  .image-list li { float:left; width: 100px; padding: 10px; margin: 10px 10px 0 0; border: 1px solid #c5c5c5; background: #f6f6f6; }
  .image-list li:hover { border: 1px solid #c5c5c5; background: #f1f1e8; }
   .image-list li img { display: block; border: 1px solid #9a9a9a; }
   .image-list li p { width: 45%; margin: 10px 0 0 0; }
    .image-list li p a { color: #757575; line-height: 16px; outline: none; }
	 
   .image-list li p.edit { float: left; }
   .image-list li p.delete { float: right; }
    .image-list li p.edit a { display: block; overflow: hidden; width: 45px; height: 16px; background: url(../images/image_edit.png) top left no-repeat; text-indent: -10001px; }
    .image-list li p.delete a { display: block; overflow: hidden; float:right; width: 46px; height: 16px; background: url(../images/cross.png) top right no-repeat; text-indent: -10001px; }
  
    .image-list li p.edit a:hover { display: block; overflow: hidden; width: 45px; padding-left: 20px; text-indent: 0; }
    .image-list li p.delete a:hover { display: block; overflow: hidden; width: 26px; padding-right: 20px; text-indent: 1; text-align: right; }
 /* end image-list */ 
 
 /* movies */
 .movie-container { display: none; }
 /* end movies*/

 /* tabs */
 .tab-content { margin-top: -1px; padding: 16px 16px 0 16px; border: 2px solid #f1f1f1; border-top: 1px solid #f1f1f1 ;}
  .tab-content h3.warning { margin-top: 20px; }
  .tab-content h4 { margin-top: 20px; size: 1.2em; color: #555; }
  
  
.tabs-container { padding: 30px 10px 0 0; }
 ul.tabs { overflow: hidden; list-style: none; margin: 0; padding: 0 0 0 16px; }
  .tabs li { float: left; margin: 0 2px 0 0; }
  .tabs li.newSection { margin:0 2px 0 20px; }
   .tabs li a { display: block; border-bottom: 1px solid #f1f1f1; background: url('../images/tab3.gif') top left no-repeat; color: #000; font-size: 0.84em;  text-decoration: none; font-weight: bold; text-transform: uppercase; outline: none; }
    .tabs li a span { display: block; padding:7px 12px; background:url('../images/tab3-1.gif') top right no-repeat; }

  .tabs li a:hover { background: url('../images/tab4.gif') top left no-repeat; color: #b02900; border-bottom: 1px solid #f1f1f1; }
 
  .tabs li.ui-tabs-selected a,
  .tabs li.ui-tabs-selected a:hover { background:url('../images/tab4.gif') top left no-repeat !important; color: #b02900 !important; border-bottom: 1px solid #fff !important; }

  .tabs li a:hover span,  
  .tabs li.ui-tabs-selected a span,
  .tabs li.ui-tabs-selected a:hover span { background:url('../images/tab4-1.gif') top right no-repeat !important; color: #b02900 !important; }
  
  .tabs li.ui-state-hover {  border: none; background: none; font-weight: normal; color: #000; outline: none; }
  .tabs li.ui-state-active {  border: none; background: none; font-weight: normal; color: #000; outline: none; }
  .tabs li.ui-state-default {  border: none; background: none; font-weight: normal; color: #000; outline: none; }
  .tabs li.ui-state-focus {  border: none; background: none; font-weight: normal; color: #000; outline: none; }

  .ui-tabs-hide { display: none; }
  
  h2.group-section { margin-bottom: -15px; padding: 25px 0 0 0; font-size: 1.4em; }
  h3.group-section { margin-bottom: -25px; padding: 25px 0 0 10px; font-size: 1.3em; }
  
 
 /* forms */ 
  .form-a { overflow: hidden; width: 100%; }
  .fa-a { padding-bottom: 30px; }
  .form-a p { padding: 5px 0; }
  .form-a p.subtitle { color: #666; font-size: 1em; padding: 5px 0 0 142px; }
  .form-a p.subtitle.type1 { padding:5px 0 0 0; }
  .form-a p.subtitle.type2 { padding:15px 0 0 0; }
  .form-a p.subtitle strong { padding-right:5px; }
  .form-a p.subtitle a { color:#074b6e; }
  .form-a p.subtitle a.remove { padding-left:10px; }
  .form-a p.imagesubtitle { color: #666; font-size:1em; padding: 5px 0 0 0; text-align: center; }
  .form-a p.imagesubtitle a { color: #b02900; }  
  .form-a p.endSection{padding:20px 0 10px 10px;}
  
  .form-b p { padding: 5px 0; }
  .form-b p.subtitle { color: #666; font-size: 1em; padding: 5px 0 0 142px; }
  .form-b p.subtitle.type1 { padding:5px 0 0 0; }
  .form-b p.subtitle.type2 { padding:15px 0 0 0; }
  .form-b p.subtitle strong { padding-right:5px; }
  .form-b p.subtitle a { color:#074b6e; }
  .form-b p.subtitle a.remove { padding-left:10px; }
  .form-b p.imagesubtitle { color: #666; font-size:1em; padding: 5px 0 0 0; text-align: center; }
  .form-b p.imagesubtitle a { color: #b02900; }  
  .form-b p.endSection{padding:20px 0 10px 10px;}
  
  /* form items */
   ul.form-items { list-style:none; margin: 0; padding: 30px 0 0 0; }
   
   .f-items-a { padding-top: 0 !important; }
      
   .form-b ul.form-items { list-style:none; margin: 0; padding: 10px 0 20px 0; }
    .form-items li { overflow: hidden; margin-bottom: 1px; padding:16px 20px; /*background:#f1f1f1;*/ background: #e8e8e8 url('../images/gradient.gif') top left repeat-x; font-size: 1em; }
    .form-items li.diff { background: #f0f0f0 url('../images/gradient1.gif') top left repeat-x; }

     .form-items label { display: block; width:130px; float: left; padding: 5px 10px 0 0; font-weight: bold; font-size: 1.1em; }
     .form-items label.in-line { display: inline; padding: 5px 10px 0 0; float: none; font-weight: bold; font-size: 1.1em; }
     .form-items label em { color:#b02900; font-style:normal; }
     .form-items label span { font-weight: normal; font-size: 1em;}
     .form-items img { vertical-align: middle; }

     .form-items li span { color:#666; font-size: 1.1em; }
     .form-items li span.helper-a { padding-left: 60px; }
     .form-items li span a { color:#B02900; }

     .form-items input,
     .form-items select { width: 300px; color: #555; padding: 3px; font-size: 1.2em; }
     .form-items select#thefile { width: 350px; color: #555;}
     .form-items input { padding: 4px; border: 1px solid #cbcbcb; }
     .form-items textarea {  padding: 4px; border: 1px solid #cbcbcb; font-size: 1.2em; }

   ul.form-items1 { list-style: none; margin: 0; padding: 10px 0 10px 160px; border-bottom: 2px solid #f1f1f1; }
   ul.form-items1.frm-it-a { margin-bottom: 10px; padding: 10px 0 10px 10px; border: none; }
    .form-items1 li { padding: 5px 0; }
     .form-items1 li label{ padding-left: 6px; color: #666; }

   ul.form-items2 { list-style: none; padding-top: 30px; }
    .form-items2 li { margin: 0 0 1px 0; padding: 16px 20px; background: #f1f1f1; }
    .form-items2 li.diff { background: #f7f7f7; }
    .form-items2 label { font-weight: bold; }
    .form-items2 label em { font-style: normal; color:#b02900; }
    .form-items2 label span { font-weight: normal; }    
    
   .f-items-b {  }
    .f-items-b li	{ font-size: 1.1em; } 
     .f-items-b li .label { display: block; width:130px; float: left; padding: 5px 10px 0 0; } 
     .f-items-b li .content { float: left; padding: 4px 10px 0 0; } 
     .f-items-b li .content-a { width: 680px; padding-top: 0; line-height: 1.7; } 
     .f-items-b li p label { font-size: 1em; } 
     .f-items-b li p .helper { display: block; padding: 5px 0 20px 0; font-size: 1em; } 
     .f-items-b li p.success { margin: 0; padding: 15px 0 0 0; font-weight: bold; } 
   
   .f-items-c { padding-bottom: 16px !important; } 
   
   .form-items ul { padding: 0; }
    .form-items ul li { width: auto; overflow: auto; background: none; padding: 2px 0 2px 15px; background: url(../images/bullet-1.png) 0 50% no-repeat; }


   .thelabel { font-weight:bold; }
   input.wide-input { width: 300px; }
   input.wide-input-a {width: 450px; }
	
	.short-input,
	.form-items .short-input { width:25px; }

	.medium-input,
	.form-items .medium-input { width:80px; }
	
	.normal-input,
	.form-items .normal-input { width:120px; }

	.hasDatepicker,
	.form-items .hasDatepicker { margin-right:4px; }

	.medium-input1,
	.form-items .medium-input1 { width:60px; }
	
	.form-items #add_date,
	.form-items #date_data_1,
	.form-items #date_data_2,
	.form-items .date-input { float: left; margin-right: 5px; }
	.form-items .caltrigger { float: left; }
   /* end form items */
  /* end forms */
  
  /* pagination */  
  .tools-left ul.pagination { float: none; }
  ul.pagination { float: right; margin: 0; padding: 10px 0; clear: left; }
   ul.pagination li { display: inline; padding: 0 5px; }
    ul.pagination li a { text-decoration: none; color: #666; border: 1px solid #888; padding: 0 3px; }
    ul.pagination li a:hover { background: #dedede; border: 1px solid #777; }
    ul.pagination li.first a,
    ul.pagination li.last a { border: 1px solid #fff; }
    ul.pagination li.first a:hover,
    ul.pagination li.last a:hover { border: 1px solid #666; }
    ul.pagination li span { border: 1px solid #666; background: #dedede; padding: 0 3px; }
  /*end pagination*/
  
  /* pages */
  div.pages { float:right; padding:10px 20px 10px 0; }
  .tools-left div.pages { float: none; }
   div.pages ul { display:inline; margin: 0; padding: 0; }
    div.pages ul li { display:inline; }
     div.pages li a { text-decoration:none; color:#666; border:1px solid #888; padding:0 3px; }
     div.pages li a:hover,
     div.pages li a.current { background:#dedede; border:1px solid #777; }
     div.pages li a.current { color:#000; }
    div.pages p { display:inline; color:#666; padding-right:10px; }
  /*end pages*/
 

 .section-a {  }
 .section-a.last { margin-bottom: 15px; }
  .section-a .head-section { overflow: hidden; width: 300px; margin-bottom: 3px; padding: 0; background-color: #F0F0F0; }
   .section-a ul { display: none; }
   .section-a .head-section p { margin-bottom: 0; float: right; padding: 10px 10px 10px 0; }
   .section-a .head-section h3 { margin-bottom: 0; float: left; width: 260px; padding: 10px 0 10px 10px; font-size: 1.1em; text-transform: uppercase; cursor: pointer; }
   .section-a .head-section h3:hover { color: #B02900; }

 
 .line-a {  display: block; padding-top: 4px; }
 
.level-1 { padding-left: 10px; font-style: italic; }
.level-2 { padding-left: 20px; color: #929292; font-size: 0.9em; }
.level-3 { padding-left: 30px; color: #929292; font-size: 0.9em; }


#stepForm p{padding:5px 0;}

.stepForm-a { padding-bottom: 0 !important; }

label.type1{display: block; padding-bottom:4px;}

#ingTableContainer{padding:16px 20px; border:2px solid #f1f1f1; margin-top:30px; font-size:0.84em;}
#ingTableContainer h3{font-size:1.2em; padding-bottom:15px;}

#ingTableContainer a{text-decoration:none; color:#2773d9;}
#ingTableContainer a:hover{text-decoration:underline;}
#ingTableContainer a.delItem{color:#fc0000;}

#ingTable th, #ingTable td {padding:5px;}




ul#tools a,
ul.navig a{color:#074b6e;}

ul.navig{list-style:none; font-size:0.84em; padding:10px 0 10px 0; float:left}
ul.navig li{display:inline; padding-right:5px;}

ul#tools{list-style:none; font-size:0.84em; padding:10px 0 10px 0; float:right}
ul#tools li{display:inline; padding-right:5px;}

#productNumber{width:400px;}

.success{color:#09953b;}

select.categorySelect{width:300px;}

form.adminform label{color:#666; font-size:0.84em; padding-right:10px;}
form.adminform select{color:#666; font-size:1em;}

.text-a { overflow: hidden; width: 100%; margin: 20px 0 0 0; font-size: 1.2em !important; }
 .text-a span.helper-b { padding-left: 0; float: left; display: block; font-size: 1em !important; }
 .text-a span.helper-c { width: 145px; float: left; display: block; font-size: 1em !important; }
 
.text-b { margin: 5px 0 0 130px; } 

.categorySection{padding:16px 20px; border:2px solid #f1f1f1; margin-top:30px; font-size:0.84em;}
.categorySection label{font-weight:bold;}
.categorySection a{color:#2773D9; text-decoration:none;}
.categorySection a.remove{color:#fc0000;}
.categorySection a:hover{text-decoration:underline;}


.topic-header-a { margin-bottom: 5px; padding-left: 16px; cursor: pointer; font-size: 1.5em; background: url(../images/bullet_toggle_plus.png) 0 50% no-repeat; }
.topic-header-a.visible { background-image: url(../images/bullet_toggle_minus.png); }
.topic-header-a:hover { color: #b02900; }
 .topic-header-a span { font-weight: normal; font-size: 0.84em; }

.topic-container-a { margin-bottom: 20px; padding-bottom: 10px; border-bottom: 3px solid #000; }
 .topic-container-a .del-container { overflow: hidden; width: 100%; font-size: 1.1em; }
 .topic-container-a .del-container a { float: left; display: block; padding-left: 16px; color: #b02900; }
 
.topic-container-a > .stepForm { padding-left: 16px; }
 
.topic-messages-container-a { display: none; padding-left: 16px; } 

div.ui-tabs-panel form{padding-bottom:20px;}



#discounts h2{padding:30px 0 0 0;}
h2.helper{font-size:1em; color:#666; font-weight:normal;}

.imageSection{border:2px solid #f1f1f1; padding:10px;}
form .imageSection{border:2px solid #f1f1f1; padding:10px; margin-top:10px;}

div.withImage{padding-left:190px;}
div.withImage2{padding-left:130px;}
div.withImage3{padding-left:70px;}

#independentSection{margin-bottom: 20px; padding-bottom: 10px; border-bottom:1px solid #cacaca;}



#promoSection p.imgContainer{margin-left:370px; width:180px;}
#promoSection p.imgContainer strong{display: block; padding-bottom:5px; font-size:0.84em;}
#promoSection div.floatContainer{width:370px; float:left;}




.thirdMenu{list-style:none; margin: 0; padding: 0;}
 .thirdMenu li{display:inline; padding-right:10px;}
 .thirdMenu li a{text-transform:uppercase; font-size:0.84em; text-decoration:none; color:#074b6e;}
 .thirdMenu li a.current{font-weight:bold; color:#b02900;}
 .thirdMenu li a:hover{text-decoration:underline; color:#b02900;}
 .thirdMenu li a.current:hover{text-decoration:none;}

.fourthMenu{list-style:none;}
 .fourthMenu li{display:inline; padding-right:10px;}
 .fourthMenu li a{text-transform:uppercase; font-size:0.74em; text-decoration:none; color:#074b6e;}
 .fourthMenu li a.current{font-weight:bold; color:#b02900;}
 .fourthMenu li a:hover{text-decoration:underline; color:#b02900;}
 .fourthMenu li a.current:hover{text-decoration:none;}

 #codeSearch{padding-bottom:10px;}
 #codeSearch input{vertical-align:middle;}

 #seekCodeNumber{width:310px;}

 #sectionOperator{padding-top:10px; display: block;}
 #sectionOperator a{outline:none;}

.buttonContainer{padding-top:10px;}

.overH1{padding-bottom:20px;}

/*banner section*/

#pageImage{background:url('../images/bronson_page.jpg') top left no-repeat; width:486px; height:840px; margin-left:250px; position:relative;}
#formContainer{margin-left:250px;}
 #formInnerContainer{width:100%; float:left;}

#pictureContainer{/*width:120px; */float:left; padding-top:30px;}
#pictureContainer img{display: block; padding:3px; border:1px solid #a7a6aa;}

#discountForm1 input{vertical-align:middle;}
#discountForm1 #seekProdNumber1{width:300px;}






#disclaimer p{font-size:0.9em; padding:6px 0;}
#disclaimer h2{padding-top:20px;}
#disclaimer ul{padding:6px 0 6px 30px;}
#disclaimer ul li{padding-bottom:3px;}
#disclaimer a{color:#074b6e;}

#filterBox{padding:10px 0; float:left;}
#filterBox input{vertical-align:middle; padding: 4px; width:200px;}
#filterBox select{vertical-align:middle; padding:4px;}
#filterBox #filter{width:200px; padding: 4px}

 #filterBox p.field-a { width: 100%; overflow: hidden; }
  #filterBox p.field-a #filter,
  #filterBox p.field-a .date,
  #filterBox p.field-a .caltrigger { float: left; margin-right: 6px; }
  #filterBox p.field-a .caltrigger { margin-right: 15px; }

#filterBox fieldset{margin-top:15px; border:1px solid #cacaca; padding: 10px 20px 5px 20px;}
#filterBox legend{ display: block; border:1px solid #cacaca; font-size: 1.2em; padding:3px 5px; background:#f3f3ee;}
#filterBox fieldset *{vertical-align:middle;}
 #filterBox fieldset p{padding:8px 0; clear:left;}

 #filterBox fieldset p a{color:#074b6e;}
  #filterBox fieldset input{padding: 4px; margin:0; width: auto;}
  #filterBox fieldset select{padding: 4px; }
  #filterBox fieldset label{padding-right:30px; color:#666;}
  #filterBox fieldset label.type1{display: block; float:left; width:30px; padding-top:2px;}


table.userData{margin-top:20px; padding:10px 20px 20px 20px; font-size:0.84em; background:#f0f0f0 url('../images/gradient1.gif') top left repeat-x;}
table.userData th{vertical-align:top; width:150px; padding:10px 5px 5px 5px; font-weight:bold; border-bottom:1px solid #dedede; padding-bottom:2px;}
table.userData td{padding:10px 5px 5px 5px; border-bottom:1px solid #dedede; padding-bottom:2px;}
table.userData tr:hover{background:#fdfdfd;}
.userData ul{padding:20px 0 0 20px; list-style:none;}
 .userData ul li{padding-bottom:7px;}
  .userData a{color:#074b6e;}
  .userData a:hover{color:#b02900;}

h2.userData{padding-top:25px; font-size:1.1em;}
dl.userData{margin-top:20px; padding:10px 20px 20px 20px; font-size:0.84em; background:#f0f0f0 url('../images/gradient1.gif') top left repeat-x;}
dl.userData dt{font-size:1.1em; font-weight:bold; padding:10px 0 5px 0;}
dl.userData dd{padding-bottom:10px;}


#categoryFilter option{padding-left:30px;}
#categoryFilter option.main{padding-left:0; font-weight:bold;}

.category-filter option{padding-left:30px;}
.category-filter option.main{padding-left:0; font-weight:bold;}


.clearme{clear:both;}


.accepted { color: #239720 !important; }
.unaccepted { color: #972020 !important; }

 .filemanager { float: left; display: block; }
 .filemanager-ico { float: left; display: block; padding: 5px; cursor: pointer; }
 .filemanager-ico:hover { background-color: #cbcbcb; }


/* date input */
/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* the input field */
.date {
	border:1px solid #ccc;
	font-size:12px;
	padding:4px;
	text-align:center;
	width:100px !important;		
	-moz-box-shadow:0 0 10px #eee inset;
}

/* calendar root element */
#calroot {
	margin-top:-1px;
	width:198px;
	padding:2px;
	background-color:#fff;
	font-size:11px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow: 0 0 15px #666;
	-webkit-box-shadow: 0 0 15px #666;	
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {	
	padding:2px 0;
	height:22px;
} 

#caltitle {
	font-size:14px;
	color:#0150D1;	
	float:left;
	text-align:center;
	width:155px;
	line-height:20px;
	text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url(../images/prev.gif) no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url(../images/next.gif);
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
#caltitle select {
	font-size:10px;	
}

/* names of the days */
#caldays {
	height:14px;
	border-bottom:1px solid #ddd;
}

#caldays span {
	display:block;
	float:left;
	width:28px;
	text-align:center;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}

/* single week */
.calweek {
	clear:left;
	height:22px;
}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:27px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 		
} 

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;		
}

/* offmonth day */
a.caloff {
	color:#ccc;		
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);		
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}

/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}

.caltrigger { display: block;  overflow: hidden; width: 24px; height: 24px; background: url(../images/calendar1.png) 0 0 no-repeat; text-indent: -10001px; }

