/* ==|== primary styles =====================================================
   Author: Maciej Węgrzynek, hitmo.pl <maciej@hitmo.pl>
   ========================================================================== */

/*! layout -------- */


 * { margin: 0; padding: 0; }
 body { background-color: #fff; font-family: Helvetica,Arial,sans-serif; color: #454545; }

 a { color: #1d64a9; text-decoration: none; }
 a:hover { color: #1d64a9; text-decoration: underline; }

 .main-content { background: #fff; }
  .main-content p { margin-bottom: 15px; }

/*! headers and header bars ------- */

h1, h2, h3, h4, h5, h6 { }
h1 { font-size: 16px; }
h2 { font-size: 14px; }
h3 { font-size: 14px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

   .bar-a { position: relative; padding: 0; background: #1d64a9; }
	.bar-a:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

	.home { z-index: 50; position: absolute; top: 6px; left: 20px; font-size: 14px; }
	 .home a { position: relative; display: block; float: left; height: 32px; padding: 0 10px 0 10px; color: #fff; line-height: 32px; border: 1px solid #003b74; border-width: 1px 1px 1px 0; text-decoration: none; -webkit-border-radius: 0px 3px 3px 0px; border-radius: 0px 3px 3px 0px; -webkit-box-shadow: inset 0px 1px 0px 0px rgba(98, 148, 206, 1); box-shadow: inset 0px 1px 0px 0px rgba(98, 148, 206, 1); }
	 .home a:before { position: absolute; top: -1px; left: -10px; display: block; content: ''; overflow: hidden; width: 10px; height: 34px; background: url(../../images/mobile/sprite-set-1.png) -500px -100px no-repeat; text-indent: -10001px; }
	 .home a.tapped { background-color: #054584; }
	 .home a.tapped:before { background-position: -500px -134px; }

  .h-box-a {border: 1px solid #6294cf; border-width: 1px 0; border-bottom-color: #094e92;
				background: #4680c6; /* Old browsers */
				background: -moz-linear-gradient(top, #4680c6 0%, #3165a3 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4680c6), color-stop(100%,#3165a3)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #4680c6 0%,#3165a3 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #4680c6 0%,#3165a3 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #4680c6 0%,#3165a3 100%); /* IE10+ */
				background: linear-gradient(top, #4680c6 0%,#3165a3 100%); /* W3C */	}

	.header-a { margin: 0 80px; padding: 14px 0; text-align: center; color: #fff; font-weight: normal; font-size: 14px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  }
	 .header-a a { width: 129px; display: block; margin: 0 auto; }
	  .header-a img { display: block; margin: 0 auto; }

	.header-b {  }
	 .header-b a { display: block; width: 100%; }
	  .header-b img { display: block; margin: 0 auto; padding: 10px 0; }
	.hb-a { padding-left: 30px; position: relative; background: #fff url(../../images/mobile/menu-button-bg.png) 0 100% repeat-x; cursor: pointer; }
	 .hb-a.active { background: #fff; }
	 .hb-a:before { position: absolute; left: 10px; top: 50%; margin-top: -3px; display: block; width: 9px; height: 6px; content: '';  background: url(../../images/mobile/sprites.png) 0 0 no-repeat; }
	 .hb-a.active:before { background-position: -9px 0; }

	.header-c { margin-top: -1px; font-size: 16px; font-weight: normal; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); line-height: 1.2; }
	 .header-c a { position: relative; display: block; padding: 14px 10px 14px 50px; color: #0c4e8e; text-decoration: none; border: 1px solid #a0bfd8;
	 	background: #f3faff;
		background: -moz-linear-gradient(top,  #f3faff 0%, #d5e8f7 93%, #c5dcf0 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3faff), color-stop(93%,#d5e8f7), color-stop(100%,#c5dcf0));
		background: -webkit-linear-gradient(top,  #f3faff 0%,#d5e8f7 93%,#c5dcf0 100%);
		background: -o-linear-gradient(top,  #f3faff 0%,#d5e8f7 93%,#c5dcf0 100%);
		background: -ms-linear-gradient(top,  #f3faff 0%,#d5e8f7 93%,#c5dcf0 100%);
		background: linear-gradient(top,  #f3faff 0%,#d5e8f7 93%,#c5dcf0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3faff', endColorstr='#c5dcf0',GradientType=0 );
	 }
	 .ui-collapsible-collapsed .header-c a {
	 	color: #0c4e8e;
	 	background: #f3faff;
		background: -moz-linear-gradient(top,  #f3faff 0%, #d5e8f7 93%, #c5dcf0 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3faff), color-stop(93%,#d5e8f7), color-stop(100%,#c5dcf0));
		background: -webkit-linear-gradient(top,  #f3faff 0%,#d5e8f7 93%,#c5dcf0 100%);
		background: -o-linear-gradient(top,  #f3faff 0%,#d5e8f7 93%,#c5dcf0 100%);
		background: -ms-linear-gradient(top,  #f3faff 0%,#d5e8f7 93%,#c5dcf0 100%);
		background: linear-gradient(top,  #f3faff 0%,#d5e8f7 93%,#c5dcf0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3faff', endColorstr='#c5dcf0',GradientType=0 );
 	 }
	 .header-c a {
	 		color: #454545;
	 		background: #f3f3f3;
			background: -moz-linear-gradient(top,  #f3f3f3 0%, #e3e3e3 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e3e3e3));
			background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e3e3e3 100%);
			background: -o-linear-gradient(top,  #f3f3f3 0%,#e3e3e3 100%);
			background: -ms-linear-gradient(top,  #f3f3f3 0%,#e3e3e3 100%);
			background: linear-gradient(top,  #f3f3f3 0%,#e3e3e3 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e3e3e3',GradientType=0 );
 	 }

 	 .header-c a:before { position: absolute; top: 50%; left: 15px; display: block; content: ''; overflow: hidden; width: 24px; height: 24px; margin: -12px 0 0 0; background: url(../../images/mobile/sprite-set-1.png) -300px -24px no-repeat; text-indent: -10001px; }
 	 .ui-collapsible-collapsed .header-c a:before { background-position: -300px 0; }

 	.header-d { margin-bottom: 5px; font-size: 13px; }

 	.header-g { margin-bottom: 25px; padding: 5px 15px 0 15px; color: #454545; text-align: center; font-weight: normal; }
  .hg-a { padding-top: 20px; border-top: 1px solid #d3d3d3; }
 	.hg-b { margin-bottom: 0; padding-top: 25px; color: #1d64a9; font-weight: bold; }

 	.header-e { top: 6px; right: 5px; position: absolute; overflow: hidden; width: 57px; height: 32px; z-index: 10; text-indent: -10001px;  border: 1px solid #003b74; background: url(../../images/mobile/sprite-set-1.png) -600px -100px no-repeat; text-decoration: none; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0px 1px 0px 0px rgba(98, 148, 206, 1); box-shadow: inset 0px 1px 0px 0px rgba(98, 148, 206, 1); }
 	.header-e.active { height: 41px; background-position: -600px -132px; background-color: #054584; -webkit-border-radius: 3px 3px 0px 0px; border-radius: 3px 3px 0px 0px; -webkit-box-shadow: none; box-shadow: none; border-bottom: none; }

 	.header-f { margin-bottom: 5px; color: #0c4e8e; }

 	.header-l { position: relative; margin-bottom: 15px; padding-left: 30px; font-size: 13px; }
   .header-l:before { position: absolute; top: -5px; left: 0; display: block; content: ''; overflow: hidden; width: 25px; height: 26px; background: url(../../images/mobile/sprite-set-1.png) -500px -200px no-repeat; text-indent: -10001px; }
    .hl-b:before { background-position: -550px -200px; }

   .header-k { margin-bottom: 15px; font-size: 12px; }

   .trigger-cointainer {z-index: 50; position: absolute; z-index: 10; right: 0; top: 96px; height: 34px; }

   .force-images-width {  }
    .force-images-width img { width: 100%; height: auto; }

/*! containers ---- */

 .art-a,
 .art-b { margin-bottom: 25px; }
  .art-b p { font-style: italic; }

 .art-c { margin-bottom: 25px; padding: 10px; border: 1px solid #d1d1d1; }
  .art-c blockquote { margin: 0; padding: 0; font: italic normal 1.2em/1.38em Georgia, serif; color: #5b5b5b; }
  .art-c .art-c-wrapper { overflow: hidden; position: relative; }
  .art-c .art-c-wrapper .image-d { position: absolute; bottom: 0; margin: 0; }
   .art-c .art-c-wrapper .image-d img { display: block; width: 70px; height: auto; }
  .art-c .cite { margin-bottom: 0; min-height: 63px; padding-left: 80px; font-size: 12px; }
   .art-c .cite cite { display: block; font-style: normal; font-weight: bold; }

 .art-d { border-top: 1px solid #d3d3d3; }
 .art-d:first-child { border-top: none; }
  .art-d .image-f { margin-bottom: 25px; }
   .art-d .image-f img { display: block; margin: 0 auto; }
  .art-d header { padding: 15px; }
   .art-d header h1 { margin-bottom: 10px; font-size: 16px; color: #454545; }
   .art-d header p { margin-bottom: 0; font-size: 13px; color: #454545; line-height: 1.38; }
   .art-d .text-area-a { padding: 5px 15px 15px 15px; }
    .art-d .text-area-a p { font-size: 13px; color: #454545; line-height: 1.38; }

 .art-e { overflow: hidden; padding: 9px; margin-bottom: -1px; border: 1px solid #d6d6d6; }
  .art-e .image-b { float: left; margin-bottom: 0; }
   .art-e .image-b img { display: block; }
  .art-e h1 { margin-bottom: 5px; font-size: 12px; color: #454545; }
  .art-e .content { margin-left: 150px; }
   .art-e .content p { font-size: 11px; }

 .art-f { background-color: #dfeefb; }
  .art-f a,
  .art-f .art-container { overflow: hidden; display: block; padding: 15px; color: #454545; text-decoration: none; border: 1px solid #b6cde0; }
  .art-f .art-container { border-width: 1px 0 1px 0; border-top-color: #fff; }
  .art-f a.tapped { padding: 12px; border-width: 4px; }
   .art-f .content { margin-right: 120px; }
    .art-f .content .date { font-size: 11px; margin-bottom: 5px; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); }
    .art-f .content h1 { margin-bottom: 5px; color: #3175c4; font-size: 14px; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); }
    .art-f .content .text { margin-bottom: 0; font-size: 13px;  line-height: 1.38; }
   .art-f .image { float: right; padding: 5px; border: 1px solid #b6cde0; background-color: #fff; }

 .art-g { margin-top: -1px; }
 .art-g a { overflow: hidden; display: block; padding: 15px; border: 1px solid #b6cde0; color: #454545; text-decoration: none; }
 .art-g a.tapped { padding: 12px; border-width: 4px; }
  .art-g a .date { margin-bottom: 5px; font-size: 11px; }
  .art-g a .text { margin-bottom: 0; font-size: 13px; color: #3175c4; line-height: 1.38; }


 p + .box-m > .art-h { margin-top: 15px; border-width: 1px 0; }
 .art-h { margin: 0 -15px 15px -15px; padding: 15px 50px; border: 1px solid #d3d3d3; border-width: 0 0 1px 0; }
  .art-h p { font-size: 12px; line-height: 1.6 !important; }
  .art-h blockquote { position: relative; margin: 0; padding: 0; }
  .art-h blockquote:before { position: absolute; top: 3px; left: -35px; display: block; content: ''; overflow: hidden; width: 22px; height: 17px; background: url(../../images/mobile/sprite-set-1.png) -800px -200px no-repeat; text-indent: -10001px; }
  .art-h blockquote:after { position: absolute; bottom: 10px; right: -35px; display: block; content: ''; overflow: hidden; width: 22px; height: 17px; background: url(../../images/mobile/sprite-set-1.png) -822px -200px no-repeat; text-indent: -10001px; }
   .art-h blockquote p { font-family: georgia, serif; color: #1d64a9; font-style: italic; font-size: 12px; }
   .art-h p.cite { margin-bottom: 0; font-size: 11px; }
    .art-h p.cite cite { display: block; font-weight: bold; font-size: 12px; font-style: normal; }

 .art-i { position: relative; padding-left: 40px; }
  .art-i h2 { margin-bottom: 5px; font-size: 12px; }
  .art-i p { margin-bottom: 5px; font-size: 12px; }

 .box-a {  }
  .box-a header { position: relative; overflow: hidden; min-height: 75px; padding: 15px 15px 0 85px; background-color: #f1f1f1; }
  .box-a header:before { position: absolute; top: 0; left: -10px; display: block; content: ''; overflow: hidden; width: 100px; height: 100px; background: url(../../images/mobile/sprite-set-1.png) -400px 0 no-repeat; text-indent: -10001px; }
  .ba-2 header:before { background-position: -500px 0; }
  .ba-3 header:before { background-position: -600px 0; }
  .ba-4 header:before { background-position: -700px 0; }
   .box-a header p { font-size: 13px; }

 .box-b { }
 .bb-a { margin-bottom: 25px; }

 .box-c { overflow: hidden; background-color: #dfeefb; }

 .box-d { margin-bottom: 20px; border-bottom: 1px solid #d3d3d3; }
 .bd-a { margin-bottom: 0; border-bottom: none; }

 .box-e {  }
  .box-e header { position: relative; overflow: hidden; padding-top: 130px; background: #f1f1f1 0 0 no-repeat; }
  .box-e header:before { position: absolute; top: 20px; left: 50%; display: block; content: ''; overflow: hidden; width: 99px; height: 95px; margin-left: -50px; background: url(../../images/mobile/sprite-set-1.png) 0 -200px no-repeat; text-indent: -10001px; }
  .be-2 header:before { top: 12px; width: 107px; height: 106px; margin-left: -54px; background-position: -100px -200px; }
  .be-3 header:before { top: 30px; width: 131px; height: 78px; margin-left: -66px; background-position: -300px -200px; }
   .box-e header h1 { margin-bottom: 15px; color: #454545; font-size: 16px; font-weight: normal; text-align: center; }
    .box-e header h1 strong { color: #1d64a9; }

  .box-f { padding-bottom: 15px; border-bottom: 1px solid #f1f1f1; }
  .box-f header { position: relative; overflow: hidden; padding-top: 20px; background: #f1f1f1 0 0 no-repeat; }
   .box-f header img { display: block; margin: 0 auto 10px auto; }
   .box-f h1 { margin-bottom: 15px; color: #454545; font-size: 16px; font-weight: normal; text-align: center; }
    .box-f h1 strong { display: block; color: #4698e9; }

 .box-h { margin: 0 15px; padding: 30px 0 23px 0; border-top: 1px solid #e9e9e9; }
 .box-h:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .box-h .image-c { float: left; width: 75px; }
  .box-h .content { float: left; padding-top: 10px; }
   .box-h .content h3 { font-size: 13px; }
   .box-h .content .data-box-a { margin-bottom: 3px; }

 .box-w { margin: 15px -15px 0 -15px; padding: 15px; background-color: #f1f1f1; }

 .box-x { padding: 20px; border-top: 1px solid #e4e4e4; }
  .box-x p { margin-bottom: 10px; font-size: 12px; }
  .box-x h3 { margin-bottom: 5px; font-size: 12px; }
  .box-x.vcard .adr .street-address { display: block; }
 .box-x:first-child { border-top: none; }

.box-y { padding-bottom: 0; background: url(../../images/mobile/bm-h-bg.png) 0 0 repeat-x; }

 .cols-two-j .primary-tj { margin: 0 -15px 15px -15px; padding: 0 15px 15px 15px; border-bottom: 1px solid #d3d3d3; }


 .nav-a { display: none; z-index: 5; width: 65%; position: absolute; top: 47px; right: 5px; }
  .nav-a {  }

 .text-container-a { overflow: hidden; padding: 15px; padding-bottom: 0; }
  .text-container-a p { color: #454545; font-size: 13px; line-height: 1.38; }
 .tca-a { background-color: #1d64a9; }
  .tca-a p { color: #fff; }
 .tca-b { padding-bottom: 15px; }
 .tca-c p { color: #1d64a9; }

 .text-container-a ul { list-style: none; margin: 0; padding: 0; }
  .text-container-a ul li { position: relative; padding-left: 12px; font-size: 14px; color: #454545; }
  .text-container-a ul li:before { position: absolute; top: 6px; left: 0; display: block; content: ''; overflow: hidden; width: 6px; height: 6px; background: #4698e9; text-indent: -10001px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

 .text-area-a {  }
  .text-area-a h1,
  .text-area-a h2 { margin-bottom: 15px; font-weight: normal; font-size: 15px; }

 .text-area-a ul { list-style: none; margin: 0; padding: 0; }
  .text-area-a ul li { position: relative; padding-left: 15px; margin-bottom: 15px; font-size: 13px; }
  .text-area-a ul li:before { position: absolute; top: 4px; left: 0; display: block; content: ''; overflow: hidden; width: 7px; height: 7px; background: url(../../images/mobile/sprite-set-1.png) -700px -100px no-repeat; text-indent: -10001px; }

 .scroll-container { position: relative; }

/*! paragraphs ---- */

 .image-a { margin-bottom: 0 !important; padding-top: 10px; }
  .image-a img { display: block; }

 .image-b { margin-bottom: 25px; }
  .image-b img { display: block; }

 .image-c { margin-bottom: 0 !important; }
  .image-c img { display: block; margin: 0 auto; }

 .more-e { margin-bottom: 0 !important; font-size: 13px; }

 .text-a { display: none; padding-top: 15px; text-align: center; }


/*! lists ---- */
 ul, ol, dd, blockquote { padding-left: 40px; }
  ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }

  .list-a { list-style: none; margin: 0; padding: 0; border: 1px solid #003b74; -webkit-border-radius: 0px 0px 3px 3px; border-radius: 0px 0px 3px 3px;  }
   .list-a li { border-bottom: 1px solid #366cac; font-size: 14px; }
   .list-a li:last-child { border: none; }
   .list-a li:last-child a { -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
    .list-a li a { position: relative; display: block; padding: 0 12px; height: 33px; color: #fff; background: #054584; text-decoration: none; line-height: 33px; }
    .list-a li a.tapped { background-color: #003b74; }

 .list-b { list-style: none; margin: 0; padding: 0; border: 1px solid #ccc; }
  .list-b li { border-bottom: 1px solid #ddd; }
  .list-b li:last-child { border: none; }
  .list-b li a { display: block; padding: 10px; color: #000; background-color: #eee; text-decoration: none; }
  .list-b li a:hover { background-color: #ddd; }

 .list-c { list-style: none; margin: 0; padding: 0; }
  .list-c li { font-size: 14px; color: #fff; line-height: 1.28; }
   .list-c li .image { height: 192px; margin-bottom: 30px; overflow: hidden; }
    .list-c li .image img { display: block; margin: 0 auto; }
   .list-c li .text-container { padding: 12px 15px 0 15px; border-top: 1px solid #094e92; }

 .list-d { list-style: none; padding: 0; margin: 0 0 0 -5px; }
 .list-d:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
  .list-d li { float: left; width: 33.33333333%; }
   .list-d li a { display: block; margin: 5px; padding: 2px; border: 1px solid #e6e2c9; }
    .list-d li img { display: block; width: 100%; height: auto; }

 .list-e { list-style: none; margin: 0; padding: 0; overflow: hidden; border-top: 1px solid #b6cde0; }
  .list-e li {  }
  .list-e li:last-child { border: none; }
   .list-e li a { position: relative; display: block; padding: 32px 42px 32px 101px; white-space: normal !important; border: 1px solid #b6cde0; border-width: 0 1px 1px 1px; color: #222; text-decoration: none; /*background: #f3faff url(../../images/mobile/list-e-bg.png) 0 100% no-repeat; */font-size: 13px;  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
   	background: #f3faff;
background: -moz-linear-gradient(top,  #f3faff 0%, #daecfa 94%, #c4dcf0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3faff), color-stop(94%,#daecfa), color-stop(100%,#c4dcf0));
background: -webkit-linear-gradient(top,  #f3faff 0%,#daecfa 94%,#c4dcf0 100%);
background: -o-linear-gradient(top,  #f3faff 0%,#daecfa 94%,#c4dcf0 100%);
background: -ms-linear-gradient(top,  #f3faff 0%,#daecfa 94%,#c4dcf0 100%);
background: linear-gradient(top,  #f3faff 0%,#daecfa 94%,#c4dcf0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3faff', endColorstr='#c4dcf0',GradientType=0 );

   }
   .list-e li.ui-btn-active a,
   .list-e li.ui-btn-down-c a { background: #c6dff4;
background: -moz-linear-gradient(top,  #c6dff4 0%, #edf6fc 94%, #dae9f4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6dff4), color-stop(94%,#edf6fc), color-stop(100%,#dae9f4));
background: -webkit-linear-gradient(top,  #c6dff4 0%,#edf6fc 94%,#dae9f4 100%);
background: -o-linear-gradient(top,  #c6dff4 0%,#edf6fc 94%,#dae9f4 100%);
background: -ms-linear-gradient(top,  #c6dff4 0%,#edf6fc 94%,#dae9f4 100%);
background: linear-gradient(top,  #c6dff4 0%,#edf6fc 94%,#dae9f4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6dff4', endColorstr='#dae9f4',GradientType=0 );
 }
    .list-e li a strong { display: block; padding-bottom: 0; font-size: 16px; color: #0c4e8e; font-weight: normal; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); }
   .list-e li a:before { position: absolute; display: block; content: ''; width: 100px; height: 100px; top: 50%; left: 0; margin-top: -50px; background: url(../../images/mobile/sprite-set-1.png) 0 -100px no-repeat; }
   .list-e li a:after{ position: absolute; top: 50%; right: 14px; display: block; content: ''; overflow: hidden; width: 24px; height: 24px; margin-top: -12px; background: url(../../images/mobile/sprite-set-1.png) -100px 0 no-repeat; text-indent: -10001px; }
   .list-e li .ui-btn-down-c a:after{ background-position: 0 -24px; }
   .list-e li.item-a a:before { background-position: 0 -100px; }
   .list-e li.item-b a:before { background-position: -100px -100px; }
   .list-e li.item-c a:before { background-position: -200px -100px; }
   .list-e li.item-d a:before { background-position: -300px -100px; }
   .list-e li.item-f a:before { background-position: -400px -100px; }

  .list-f { z-index: 20; top: 197px; position: absolute; left: 50%; list-style: none; margin: 0; padding: 0; }
   .list-f li { position: relative; float: left; left: -50%; padding: 0 3px; }
    .list-f li a { display: block; overflow: hidden; width: 19px; height: 19px; background: url(../../images/mobile/sprite-set-1.png) -19px 0 no-repeat; text-indent: -10001px; }
    .list-f li.active a { background-position: 0 0; }

  .list-g { list-style: none; margin: 0; padding: 0; border-top: 1px solid #b6cde0; }
   .list-g li { font-size: 13px; }
    .list-g li a { display: block; overflow: hidden; padding: 10px; color: #0c4e8e; border: 1px solid #b6cde0; border-width: 0 1px 1px 1px; text-decoration: none; /*background: url(../../images/mobile/list-g-bg.png) 0 100% no-repeat;*/
    	background: #f3faff;
background: -moz-linear-gradient(top,  #f3faff 0%, #daecfa 94%, #c4dcf0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3faff), color-stop(94%,#daecfa), color-stop(100%,#c4dcf0));
background: -webkit-linear-gradient(top,  #f3faff 0%,#daecfa 94%,#c4dcf0 100%);
background: -o-linear-gradient(top,  #f3faff 0%,#daecfa 94%,#c4dcf0 100%);
background: -ms-linear-gradient(top,  #f3faff 0%,#daecfa 94%,#c4dcf0 100%);
background: linear-gradient(top,  #f3faff 0%,#daecfa 94%,#c4dcf0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3faff', endColorstr='#c4dcf0',GradientType=0 );
     }
    .list-g li.ui-btn-active a,
    .list-g li.ui-btn-down-c a {
background: #f3f3f3;
background: -moz-linear-gradient(top,  #f3f3f3 0%, #e4e4e4 94%, #d8d8d8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(94%,#e4e4e4), color-stop(100%,#d8d8d8));
background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 94%,#d8d8d8 100%);
background: -o-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 94%,#d8d8d8 100%);
background: -ms-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 94%,#d8d8d8 100%);
background: linear-gradient(top,  #f3f3f3 0%,#e4e4e4 94%,#d8d8d8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d8d8d8',GradientType=0 );


     }
     .list-g li a p { margin-bottom: 0; }
      .list-g li a p img { display: block; -webkit-border-radius: 4px; border-radius: 4px; }
     .list-g li a .image { display: table-cell; }
     .list-g li a .image span.image-wrapper { position: relative; display: block; overflow: hidden; width: 145px; height: 80px; padding: 2px; background-color: #fff; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1); }
     .list-g li a .image span.image-wrapper:before { position: absolute; top: 50%; left: 50%; display: block; content: ''; overflow: hidden; width: 29px; height: 29px; margin: -15px 0 0 -15px; background: url(../../images/mobile/sprite-set-1.png) -200px 0 no-repeat; text-indent: -10001px; }
      .list-g li a .image span.image-container { display: block; overflow: hidden; width: 145px; height: 80px; padding: 0; -webkit-border-radius: 4px; border-radius: 4px; }
      .list-g li a .image span.imc-a {  }
      .list-g li a .image span.imc-a img { margin-top: -12px; }
     .list-g li a .title { padding-left: 15px; display: table-cell; vertical-align: middle; text-align: left; }

	.list-h { list-style: none; margin: 0; padding: 15px 0; }
    .list-h li { position: relative; padding: 0 0 10px 18px; font-size: 13px; }
    .list-h li:before { position: absolute; top: 5px; left: 0; display: block; content: ''; overflow: hidden; width: 6px; height: 6px; background: url(../../images/mobile/sprite-set-1.png) -800px -100px no-repeat; text-indent: -10001px; }

 .list-i { overflow: hidden; list-style: none; margin: 0; padding: 0; border: 1px solid #b6cde0; border-width: 1px 0;
 	background: #f3faff;
background: -moz-linear-gradient(top, #f3faff 0%, #daebfa 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3faff), color-stop(100%,#daebfa));
background: -webkit-linear-gradient(top, #f3faff 0%,#daebfa 100%);
background: -o-linear-gradient(top, #f3faff 0%,#daebfa 100%);
background: -ms-linear-gradient(top, #f3faff 0%,#daebfa 100%);
background: linear-gradient(top, #f3faff 0%,#daebfa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3faff', endColorstr='#daebfa',GradientType=0 );
  }

  .list-i li { width: 50%; float: left; font-size: 13px; }
  .list-i li.prev { }
  .list-i li.next { float: right; }

/*! forms ---- */
 .form-a { overflow: hidden; padding: 15px; }
  .form-a .btn { display: none; }
  .form-a label { display: block; padding-bottom: 5px; font-size: 13px; }
  .form-a label.error { padding-top: 3px; color: #D74827; }
  .form-a select { padding: 5px; }
 .form-a .field-a { text-align: center; }
  .form-a .field-a input { width: 80%; margin: 0 auto; padding: 6px 15px; border: 1px solid #bebebe; -webkit-border-radius: 20px; border-radius: 20px;}
  .form-a .btn-a { position: relative; float: left; left: 50%; margin-bottom: 0; text-align: center; font-size: 14px; }
   .form-a .btn-a .ui-btn-block .ui-btn-inner { display: none; }
   .form-a .btn-a a { position: relative; float: left; left: -50%; }

/*! footer ---- */
 .footer { width: 100%; background-color: #2f2f2f; }
  .footer .wrapper-a { overflow: hidden; padding: 10px; }
   .footer .copyright { float: left; font-size: 10px; color: #9c9c9c; }
	 .footer .button-a { float: right; font-size: 10px; }
	  .footer .button-a a { font-weight: bold; color: #ececec; text-decoration: none; }

/* ! links */

.link-container-a { text-align: center; }

 .link-g { display: block; float: left; padding: 6px 0 6px 31px; color: #5f8195; background: url(../../images/mobile/icon-set-1.png) 1px 7px no-repeat; text-decoration: none !important; }
 .link-g span { border-bottom: 1px dotted #5f8195; }
 .link-g:hover { color: #172934; }
 .link-g.skype { background-position: 1px -297px !important; }

 .helper-d { display: block; float: left; padding: 6px 0 6px 31px; color: #5f8195; background: url(../../images/mobile/icon-set-1.png) 0 0 no-repeat; }
 .helper-d.office { background-position: 1px -194px; }
 .helper-d.phone { background-position: 1px -94px; }


 .link-c { display: block; height: 32px; padding: 0 12px; position: relative; float: left; border: 1px solid #003b74; color: #fff; line-height: 32px; -webkit-border-radius: 3px; border-radius: 3px;
 	 -webkit-box-shadow: inset 0px 1px 0px 0px rgba(98, 148, 206, 1); box-shadow: inset 0px 1px 0px 0px rgba(98, 148, 206, 1);
 	background: #4580c6;
background: -moz-linear-gradient(top,  #4580c6 0%, #3165a3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4580c6), color-stop(100%,#3165a3));
background: -webkit-linear-gradient(top,  #4580c6 0%,#3165a3 100%);
background: -o-linear-gradient(top,  #4580c6 0%,#3165a3 100%);
background: -ms-linear-gradient(top,  #4580c6 0%,#3165a3 100%);
background: linear-gradient(top,  #4580c6 0%,#3165a3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4580c6', endColorstr='#3165a3',GradientType=0 );

 }

.lnkc-a { display: inline-block; float: none; border: 1px solid #de7b02; color: #612b00; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
background: rgb(251,168,31);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiYTgxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZDdiMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(251,168,31,1) 0%, rgba(221,123,4,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,168,31,1)), color-stop(100%,rgba(221,123,4,1)));
background: -webkit-linear-gradient(top,  rgba(251,168,31,1) 0%,rgba(221,123,4,1) 100%);
background: -o-linear-gradient(top,  rgba(251,168,31,1) 0%,rgba(221,123,4,1) 100%);
background: -ms-linear-gradient(top,  rgba(251,168,31,1) 0%,rgba(221,123,4,1) 100%);
background: linear-gradient(to bottom,  rgba(251,168,31,1) 0%,rgba(221,123,4,1) 100%);
}

 	.link-d { display: block; width: 100%; height: 42px; margin-top: -1px; border: 1px solid #b6cde0; color: #3175c4; line-height: 42px; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); text-align: center; text-decoration: none !important;
background: #f3faff;
background: -moz-linear-gradient(top, #f3faff 0%, #daebfa 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3faff), color-stop(100%,#daebfa));
background: -webkit-linear-gradient(top, #f3faff 0%,#daebfa 100%);
background: -o-linear-gradient(top, #f3faff 0%,#daebfa 100%);
background: -ms-linear-gradient(top, #f3faff 0%,#daebfa 100%);
background: linear-gradient(top, #f3faff 0%,#daebfa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3faff', endColorstr='#daebfa',GradientType=0 );
 	 }

 	.link-d.tapped { background: #daebfa;
background: -moz-linear-gradient(top,  #daebfa 0%, #f3faff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daebfa), color-stop(100%,#f3faff));
background: -webkit-linear-gradient(top,  #daebfa 0%,#f3faff 100%);
background: -o-linear-gradient(top,  #daebfa 0%,#f3faff 100%);
background: -ms-linear-gradient(top,  #daebfa 0%,#f3faff 100%);
background: linear-gradient(top,  #daebfa 0%,#f3faff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daebfa', endColorstr='#f3faff',GradientType=0 );
 }

 .link-e { position: relative; display: block; height: 45px; line-height: 49px; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); color: #3175c4; text-decoration: none !important; }
 .link-e.tapped { background: #daebfa;
background: -moz-linear-gradient(top,  #daebfa 0%, #f3faff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daebfa), color-stop(100%,#f3faff));
background: -webkit-linear-gradient(top,  #daebfa 0%,#f3faff 100%);
background: -o-linear-gradient(top,  #daebfa 0%,#f3faff 100%);
background: -ms-linear-gradient(top,  #daebfa 0%,#f3faff 100%);
background: linear-gradient(top,  #daebfa 0%,#f3faff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daebfa', endColorstr='#f3faff',GradientType=0 );
}
 .link-e:before { position: absolute; top: 50%; left: 0; display: block; content: ''; overflow: hidden; width: 6px; height: 9px; margin-top: -3px; background: url(../../images/mobile/sprite-set-1.png) -700px -200px no-repeat; text-indent: -10001px; }
 .prev .link-e { padding-left: 30px; margin-right: -1px; border-right: 1px solid #b6cde0; }
 .prev .link-e:before { left: 16px; }
 .next .link-e { padding-right: 30px; text-align: right; border-left: 1px solid #b6cde0; }
 .next .link-e:before { left: auto; right: 16px; background-position: -706px -200px; }

/* ! specific */

 #wrapper {
 	background: url(../../images/mobile/scroll.jpg) 50% 0 no-repeat;
   background: url(../../images/mobile/scroll.jpg) 50% 0 no-repeat,
               url(../../images/mobile/scroll-bg-1.png) 0 0 repeat-x;
   background-color: #1d64a9;
  }

  .ui-select .ui-btn-inner { display: none; }

  .ui-loader h1 { padding: 30px; -webkit-border-radius: 20px; border-radius: 20px; background-color: rgba(0, 0, 0, 0.1);  }

 .temp-container { clear: both; display: none; opacity: 0; }
 .temp-insert-container { display: none; opacity: 0; }

/* ! plugins */

/* jQuery Photo Swipe */
/*
 * photoswipe.css
 * Copyright (c) %%year%% by Code Computerlove (http://www.codecomputerlove.com)
 * Licensed under the MIT license
 *
 * Default styles for PhotoSwipe
 * Avoid any position or dimension based styles
 * where possible, unless specified already here.
 * The gallery automatically works out gallery item
 * positions etc.
 */

body.ps-active, body.ps-building
{
	background: #000;
	overflow: hidden;
}
body.ps-active *
{
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
	display: none;
}
body.ps-active *:focus
{
	outline: 0;
}

/* Document overlay */
div.ps-document-overlay
{
	background: #000;
}


/* UILayer */
div.ps-uilayer {

	background: #000;
	cursor: pointer;

}


/* Zoom/pan/rotate layer */
div.ps-zoom-pan-rotate{
	background: #000;
}
div.ps-zoom-pan-rotate *  { display: block; }


/* Carousel */
div.ps-carousel-item-loading
{
	background: url(../../images/mobile/loader.gif) no-repeat center center;
}

div.ps-carousel-item-error
{
	background: url(../../images/mobile/error.gif) no-repeat center center;
}


/* Caption */
div.ps-caption
{
	background: #000000;
	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
	border-bottom: 1px solid #42403f;
	color: #ffffff;
	font-size: 13px;
	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
	text-align: center;
}
div.ps-caption *  { display: inline; }

div.ps-caption-bottom
{
	border-top: 1px solid #42403f;
	border-bottom: none;
	min-height: 44px;
}

div.ps-caption-content
{
	padding: 13px;
	display: block;
}


/* Toolbar */
div.ps-toolbar
{
	background: #000000;
	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
	border-top: 1px solid #42403f;
	color: #ffffff;
	font-size: 13px;
	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
	text-align: center;
	height: 44px;
	display: table;
	table-layout: fixed;
}
div.ps-toolbar * {
	display: block;
}

div.ps-toolbar-top
{
	border-bottom: 1px solid #42403f;
	border-top: none;
}

div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play
{
	cursor: pointer;
	display: table-cell;
}

div.ps-toolbar div div.ps-toolbar-content
{
	width: 44px;
	height: 44px;
	margin: 0 auto 0;
	background-image: url(../../images/mobile/icons.png);
	background-repeat: no-repeat;
}

div.ps-toolbar-close div.ps-toolbar-content
{
	background-position: 0 0;
}

div.ps-toolbar-previous div.ps-toolbar-content
{
	background-position: -44px 0;
}

div.ps-toolbar-previous-disabled div.ps-toolbar-content
{
	background-position: -44px -44px;
}

div.ps-toolbar-next div.ps-toolbar-content
{
	background-position: -132px 0;
}

div.ps-toolbar-next-disabled div.ps-toolbar-content
{
	background-position: -132px -44px;
}

div.ps-toolbar-play div.ps-toolbar-content
{
	background-position: -88px 0;
}

/* Hi-res display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
	div.ps-toolbar div div.ps-toolbar-content
	{
		-moz-background-size: 176px 88px;
		-o-background-size: 176px 88px;
		-webkit-background-size: 176px 88px;
		background-size: 176px 88px;
		background-image: url(../../images/mobile/icons@2x.png);
	}
}


/* !iscroll */
#wrapper {
  width:320px;
  /*height:160px;*/
  min-height: 222px;
  position:relative;
  z-index:1;
  overflow:hidden;
}


#scroller {
  width:960px;
 /* height:100%;*/
 min-height: 222px;
  float:left;
  padding:0;
}

#scroller ul {
 overflow: hidden;
  list-style:none;
  display:block;
  float:left;
  width:100%;
 /* height:100%;*/
  min-height: 222px;
  padding:0;
  margin:0;
  text-align:left;
  -webkit-transition: height .3s ease;
       -moz-transition: height .3s ease;
            transition: height .3s ease;

}

#scroller li {
  display:block; float:left;
  overflow: hidden;
  width:320px;
}