{include file='header.tpl'}
	<section class="box-l bl-a">
		<ul class="b-crumbs">
			<li><a href="{$baseurl}">{$mainSites[609]->title}</a></li>
			<li>{$item->title}</li>
		</ul>
		<div class="content-container-a">
			{$item->content}
		</div><!-- .content-container-a -->
	</section><!-- .box-l -->
{include file='footer.tpl'}