<ul class="list-a">
	<li><a href="{$baseurl}{$siteRoutes[694]->slug}/{$siteRoutes[2]->slug}.html">{$mainSites[2]->title}</a></li>				
	<li><a href="{$baseurl}{$siteRoutes[694]->slug}/{$siteRoutes[215]->slug}.html">{$mainSites[215]->title}</a></li>				
	<li><a href="{$baseurl}{$siteRoutes[694]->slug}/{$siteRoutes[216]->slug}.html">{$mainSites[216]->title}</a></li>
</ul>