/*!
 * Project:   Asseco Mobile Touch
 * Date:      2012/05/04
 * Author:    Maciej Węgrzynek, hitmo-studio.com, <hit@hitmo-studio.com>
/* ---------------------------------------- */

* { margin: 0; padding: 0; }

* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 

html { font-size: 100.01%; }
body { background: #fff; font-size: 62.5%; }

body, textarea, input, select, option, button { color: #555; font-family: Calibri,Lucida Grande,Helvetica Neue,Helvetica,Arial,sans-serif; line-height: 1.5; }
li, dt, dd, p, th, td, caption, pre { font-size: 1.5em; } /*---*/ li *, li p, li li, dt *, dd *, p *, th *, td * { font-size: 1em; }
ul, ol, dl, p, table, pre, h1, h2, h3, h4, h5, h6 { margin-bottom: 15px; }

/*! layout -------- */

#root { }
 #top { margin: 0 0 15px; padding: 0 0 1px; border-bottom: 1px solid #ccc; }
  #logo { font: bold 2.4em Cambria,Georgia,serif; }
   #logo a { color: #000; text-decoration: none; }
  #skip-links { display: none; }
  #nav { display: none; }
 #content { }
  #content a:after { content: " (" attr(href) ") "; color: #555; font-size: 0.8em; font-style: italic; }
 #footer { margin: 15px 0 0; padding: 15px 0 0; border-top: 1px solid #ccc; }
  #footer ul { display: none; }
  #footer p { }
   
/*! headers ------- */

h1, h2, h3, h4, h5, h6 { margin: 20px 0 5px; color: #000; font-family: Cambria,Georgia,serif; }
h1 { margin-top: 0; font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.5em; text-transform: uppercase; }
h6 { font-size: 1.4em; text-transform: uppercase; }

/*! containers ---- */

/*! forms ---- */

button { overflow: visible; padding: 0 10px; }

/* tables */

table { }
 table th, table td { padding: 5px 10px; border: 1px solid #ccc; }

/*! lists --------- */

ul, ol, dd, blockquote { padding-left: 30px; }
 ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }

/*! paragraphs ---- */


/*! links --------- */

a { color: #09f; text-decoration: underline; }

/*! images -------- */

img { border-width: 0; image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; }

/*! other --------- */

pre { font-family: Consolas,Monaco,Courier New,monospace; white-space: pre-wrap; }

/*! helpers ------- */

.offset { position: absolute !important; left: -10001px !important; overflow: hidden !important; }

/*! specific ------ */