@charset "utf-8";

/*!
 * Project:   Asseco Mobile Touch
 * Date:      2012/05/04
 * Author:    Maciej Węgrzynek, hitmo-studio.com, <hit@hitmo-studio.com>
/* ---------------------------------------- */

* { margin: 0; padding: 0; }

html { min-height: 100%; margin: 0 0 1px; font-size: 100.01%; }
body { background: #2f2f2f; font-size: 62.5%; }

/* @license
 * MyFonts Webfont Build ID 2309598, 2012-06-14T09:35:14-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed ../fonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Proxima Nova Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
 * Licensed pageviews: unspecified
 *
 * Webfont: Proxima Nova Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/semibold/
 * Licensed pageviews: 100,000
 *
 * Webfont: Proxima Nova Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/light/
 * Licensed pageviews: unspecified
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2309598
 * ../fonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 *
 * © 2012 Bitstream Inc
*/
 @font-face {
 font-family: 'ProximaNovaRgRegular';
 src: url('../fonts/233DDE_0_0.eot');
 src: url('../fonts/233DDE_0_0.eot?#iefix') format('embedded-opentype'),
 		url('../fonts/233DDE_0_0.woff') format('woff'),
 		url('../fonts/233DDE_0_0.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
 }
 @font-face {
 font-family: 'ProximaNovaLtSemiBold';
 src: url('../fonts/233DDE_1_0.eot');
 src: url('../fonts/233DDE_1_0.eot?#iefix') format('embedded-opentype'),
 		url('../fonts/233DDE_1_0.woff') format('woff'),
 		url('../fonts/233DDE_1_0.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'ProximaNovaLtLight';
 src: url('../fonts/233DDE_2_0.eot');
 src: url('../fonts/233DDE_2_0.eot?#iefix') format('embedded-opentype'),
 		url('../fonts/233DDE_2_0.woff') format('woff'),
 		url('../fonts/233DDE_2_0.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
 }

/*! html5 -------- */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {	display: block; }
summary::-webkit-details-marker { display: none }


body, textarea, input, select, option, button, summary { color: #454545; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; line-height: 1.6; }
li, dt, dd, p, th, td, caption, pre, address, summary { font-size: 1.3em; } /*---*/ li *, li p, li li, dt *, dd *, p *, th *, td *, summary * { font-size: 1em; }
ul, ol, dl, p, table, pre, h1, h2, h3, h4, h5, h6, summary { margin-bottom: 15px; }

/*! layout -------- */

body > iframe { position: absolute !important; left: -10001px !important; overflow: hidden !important; }

.root {
	background: url(../images/main-bg.jpg) 50% 0 no-repeat;
   background: url(../images/main-bg.jpg) 50% 0 no-repeat,
               url(../images/main-bg-wide.png) 0 0 repeat-x;
   background-color: #f4fbff; }

 #top { position: relative; z-index: 5; height: 90px; border-bottom: 1px solid #195b9d; }
  #logo { float: left; margin: 0; padding-top: 11px; }
   #logo a { display: block; }
  #skip-links { position: absolute; top: 0; left: -10001px; list-style: none; margin: 0; padding: 0; }
   #skip-links li a:focus, #skip-links li a:active { display: block; position: absolute; left: 10001px; top: 0; z-index: 10001; width: 200px; margin: 15px 0 0 15px; padding: 2px 0; background: #333; color: #fff; text-align: center; text-decoration: none; }
  #main-nav { clear: right; float: right; padding: 0 0 0 0; }
  #main-nav ul { list-style: none; margin: 0; padding: 0; }
   #main-nav ul li { float: left; font-size: 1.4em; padding-left: 12px; }
   /*#main-nav ul li { float: left; font-size: 1.4em; padding-right: 18px; }*/
    #main-nav ul li a { display: block; height: 33px; padding: 0 11px; color: #fff; line-height: 33px; text-decoration: none; -webkit-border-radius: 5px; border-radius: 5px; -webkit-transition: background 0.1s ease; -moz-transition: background 0.1s ease; transition: background 0.1s ease; }
    #main-nav ul li a:hover,
    #main-nav ul li.active a { background-color: #114681; -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.1);  }
     #main-nav ul li em { position: absolute; left: -10001px; top: -10001px; }
 #content { position: relative; z-index: 1; padding-bottom: 1px; }
 #footer { padding-bottom: 20px; background: url(../images/footer-bg.png) 0 0 repeat-x; }

/*! headers ------- */

h1, h2, h3, h4, h5, h6 { }
h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

 .header-a { position: relative; float: left; left: -50%; padding-left: 70px; color: #333; font: normal 2.1em/1.5 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }
 .header-a:before { position: absolute; top: 50%; left: 0; display: block; content: ''; overflow: hidden; width: 43px; height: 31px; margin-top: -15px; background: url(../images/sprite-set-1.png) 0 -50px no-repeat; text-indent: -10001px; }
  .header-a strong { font-weight: normal; font-family: ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }

 .header-b { margin-bottom: 5px; font-weight: normal; font-size: 1.1em; color: #fff; text-transform: uppercase; }
 .hb-a { color: #707070; }
 .hb-b { margin-bottom: 25px; }
 .hb-c { color: #707070; margin-bottom: 10px; }

 .header-c { margin-bottom: 0; padding-top: 3px; color: #fff; font: normal 2.1em/1.5 ProximaNovaRgRegular,Arial,Helvetica Neue,Helvetica,sans-serif; text-shadow: 0px -1px 0px #4b80bc; }
  .hc-a { margin-bottom: 20px; font-size: 2.8em; line-height: 1.3; text-shadow: none; }
  .hc-b { height: 70px; color: #612b00; font-size: 3em; line-height: 1.3; text-shadow: none; line-height: 70px; text-align: center; text-shadow: 0px 1px 0px #f1af41; }

 .header-d { position: absolute; top: 98px; overflow: hidden; width: 938px; height: 23px; background: url(../images/sprite-set-1.png) 0 -500px no-repeat; text-indent: -10001px; }

 .header-e { font: normal 2.1em/1.42 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif !important; }
  .header-e strong { font-weight: normal; font-family: ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .header-e a { color: #fff !important; text-decoration: none; border-bottom: 1px dashed #5c98d3; }
  .header-e a:hover { text-decoration: none; border: none; }
 .he-a { margin-bottom: 30px; color: #454545; line-height: 1.33; }
 .he-b { margin-bottom: 0; color: #333333; }
 .he-b a { color: #333333 !important; border-color: #b5b5b5; }

 .header-f { position: relative; height: 40px; padding-left: 80px; font: normal 2.4em/40px ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }
 .header-f:before { position: absolute; top: 50%; left: 0; display: block; content: ''; overflow: hidden; width: 59px; height: 40px; margin-top: -20px; background: url(../images/sprite-set-1.png) -212px -200px no-repeat; text-indent: -10001px; }
 .hf-b:before { width: 68px; height: 36px; background-position: -300px -200px; }
 .hf-c:before { margin-top: -30px; width: 63px; height: 54px; background-position: -900px -300px; }
 .hf-d:before { margin-top: -25px; width: 63px; height: 54px; background-position: -100px -1400px; }

 .header-g { margin-bottom: 35px; font: normal 3.2em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; text-align: center; }
  .header-g strong { font-weight: normal; font-family: ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .header-g a { color: #fff !important; text-decoration: none; border-bottom: 1px dashed #5c98d3; }
  .header-g a:hover { text-decoration: none; border: none; }
 .hg-a { margin-bottom: 20px; font-size: 2.8em; color: #fff; }

 .header-h { margin: 5px 0 30px 0; position: relative; padding-left: 80px; font: normal 3.2em/1.3 ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .header-h img { position: absolute; top: 0; left: 0; }

 .hh-a { margin-bottom: 10px; height: 60px; padding-left: 82px; font-size: 2.8em; }
  .hh-a span { display: block; height: 60px; line-height: 60px; }
  .hh-a img { top: 50%; margin-top: -30px; }

 .hh-b { margin: 0 0 10px 0 !important; padding: 0; font-size: 2.8em; line-height: 1.3; text-shadow: none; }
 .hh-b-a { font-size: 2.4em; }
 .hh-c { margin: 0 0 10px 0 !important; padding: 0 0 0 60px; font-size: 2.4em; line-height: 1.3; text-shadow: none; }
 .hh-d { margin: 0 0 10px 0 !important; padding: 0 0 0 0; font-size: 2.4em; line-height: 1.3; text-shadow: none; }


 .header-i { margin: 0 0 15px 0; position: relative; color: #2066aa; font: normal 3.2em/1.3 ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; text-align: center; }

 .header-j { margin-bottom: 10px; font: italic 3.4em/1.2 Georgia, Times New Roman, serif; }

 .header-k { float: left; height: 32px; padding: 0 11px; font-size: 1.2em; border: 1px solid #d9d9d9; border-top-width: 0; background-color: #fff; line-height: 32px; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 84, 108, 0.1); box-shadow: 0px 1px 1px 0px rgba(50, 84, 108, 0.1); }

 .header-l { position: relative; margin-bottom: 10px; padding-left: 34px; font-size: 1.3em; }
 .header-l:before { position: absolute; top: -3px; left: 0; display: block; content: ''; overflow: hidden; width: 25px; height: 26px; background: url(../images/sprite-set-1.png) -700px -400px no-repeat; text-indent: -10001px; }
 .hl-b:before { background-position: -750px -400px; }

 .header-m { margin-bottom: 5px; font-size: 1.3em; }

 .header-n { z-index: 2; position: relative; float: left; margin: -23px 0 24px -31px; padding: 12px 17px 9px 22px; color: #fff; background: #1d64a9; font: normal 2.4em/1.2 ProximaNovaRgRegular,Arial,Helvetica Neue,Helvetica,sans-serif; -webkit-border-radius: 0px 3px 3px 0px; border-radius: 0px 3px 3px 0px; }
 .header-n:before { z-index: 1; position: absolute; bottom: -7px; left: 0; display: block; content: ''; overflow: hidden; text-indent: -10001px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 8px solid #0c4a87; clip: rect(9px, auto, auto, auto); }
  .hn-a { background-color: #e38618; }
  .hn-a:before { border-right-color: #aa620c; }
  .hn-c { margin: -8px 0 44px 0; padding: 12px 20px 9px 20px; -webkit-border-radius: 0px 0px 3px 3px; border-radius: 0px 0px 3px 3px; }
  .hn-c:before { bottom: auto; top: 0; left: auto; right: -16px; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 8px solid transparent; border-left: 8px solid #0c4a87; clip: rect(auto, auto, 7px, auto); }
  .hn-a.hn-c:before { border-left-color: #aa620c; }

 .header-o { margin: 0 0 15px 0; position: relative; color: #fff; font: normal 2.4em/1.3 ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; text-align: center; }
 .header-p { margin: 0 0 15px 0; color: #333; font: normal 1.8em/1.3 ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }

/*! containers ---- */

 .art-a { position: relative; padding: 47px 60px 14px 60px; }
 .art-a:before { position: absolute; top: 50%; right: 70px; display: block; content: ''; overflow: hidden; width: 164px; height: 28px; margin-top: -5px; background: url(../images/sprite-set-1.png) -500px 0 no-repeat; text-indent: -10001px; }
  .art-a p { padding-right: 320px; color: #fff; text-shadow: 0px -1px 0px #29629d; font: normal 2.1em/1.42 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }
	.art-a p strong { font-weight: normal; font-family: ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .art-a a { color: #fff !important; text-decoration: none; border-bottom: 1px dashed #5c98d3; }
  .art-a a:hover { text-decoration: none; border: none; }


 .art-b { overflow: hidden; width: 100%; padding: 32px 0 0 0; background: #1d64a9 url(../images/art-b-bg.png) 0 100% repeat-x; }
  .art-b .image { position: relative; z-index: 5; float: left; width: 700px; margin: 0; }
   .art-b .image img { display: block; }
   .art-b .header-e { position: relative; z-index: 10; float: right; width: 408px; padding: 35px 50px 35px 0; color: #fff; margin-left: -700px; text-shadow: 0px -1px 0px #29629d;  }

 .artb-a .header-e { float: none; width: auto; padding: 5px 60px 25px 60px; margin-left: 0; }
 .artb-b { padding-top: 0; }
  .artb-b .header-e { padding-top: 90px; }

 .art-c { margin-bottom: 15px; padding-bottom: 30px; background: url(../images/art-c-shadow.png) 50% 100% no-repeat; }
  .art-c .art-c-wrapper { padding: 19px; border: 1px solid #d6e1ed; }
  .art-c .art-c-wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
   .art-c .art-c-wrapper .image-d { margin-bottom: 15px; float: left; }
   .art-c .art-c-wrapper .content { margin-left: 160px; }
    .art-c .art-c-wrapper .content blockquote { margin: 0; padding: 0; }
     .art-c .art-c-wrapper .content blockquote p { margin-bottom: 11px; color: #333; font: italic 1.4em/1.5 Georgia, Times New Roman, serif; }
     .art-c .art-c-wrapper .content .cite { margin-bottom: 0; color: #454545; font-size: 1.1em; line-height: 1.3; }
     .art-c .art-c-wrapper .content .cite cite { display: block; margin-bottom: 6px; font-weight: bold; font-style: normal; font-size: 1.08em; }

 .art-d { float: left; width: 380px; padding: 40px 40px 0 60px; }


 .art-e {  }
  .art-e blockquote { margin: 0; padding: 0; }
   .art-e blockquote p { margin: 0; padding: 0; color: #285589; font: italic 1.2em/1.5 Georgia, Times New Roman, serif; }
   .art-e .logo { padding-top: 10px; text-align: center; }
    .art-e .logo img { opacity: 0.5; }
   .art-e .cite { margin: -18px; margin-top: 0; padding: 18px; padding-top: 18px; background: url(../images/art-e-cite-bg.png) 0 0 repeat-x; color: #454545; font-size: 1.1em; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; }
    .art-e .cite cite { display: block; margin-bottom: 5px; font-weight: bold; font-style: normal; font-size: 1.09em; }

 .art-f { padding-bottom: 30px; }
  .art-f .date-a { margin-bottom: 5px; font-size: 1.2em; }
  .art-f h1 { margin: 0 0 5px 0; position: relative; color: #2066aa; font: normal 2.4em/1.3 ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }
   .art-f h1 a { display: block; color: #1d64a9; text-decoration: none; }
   .art-f h1 a:hover { text-decoration: underline; }
   .art-f .image { padding-top: 30px; text-align: center; }

 /*.art-g { float: left; width: 398px; min-height: 203px; padding: 25px 18px; margin-left: 24px; border-bottom: 1px dashed #d3d3d3; }*/
 .art-g { overflow: hidden; float: left; width: 398px; height: 203px; padding: 25px 18px; margin-left: 24px; border-bottom: 1px dashed #d3d3d3; }
  .art-g .date-a { margin-bottom: 0; font-size: 1.1em; }
  .art-g h1 { margin-bottom: 5px; font-size: 1.4em; }
   .art-g h1 a { display: block; color: #3175c4; text-decoration: none; }
   .art-g h1 a:hover { text-decoration: underline; }
  .art-g .text { margin-bottom: 11px; font-size: 1.3em; color: #333333; line-height: 1.61; }
  .js .art-g .text { height: 107px; overflow: hidden; }

 .art-h { position: relative; padding: 0 60px; overflow: hidden; }
 .art-h:after,
 .art-h:before { position: absolute; top: 0; left: 0; display: block; content: ''; overflow: hidden; width: 36px; height: 29px; background: url(../images/sprite-set-1.png) -500px -400px no-repeat; text-indent: -10001px; }
 .art-h:after { position: absolute; top: auto; bottom: 80px; right: 0; left: auto; background-position: -600px -400px; }
  .art-h blockquote { margin: 0; padding: 0; width: 100%; }
   .art-h blockquote p { color: #285589; font: italic 1.75em/1.5 Georgia, Times New Roman, serif; }
   .art-h .cite { float: left; color: #454545; }
   .art-h .cite cite { display: block; font-weight: bold; font-style: normal; font-size: 1.16em; }

 .ah-a { padding: 20px 25px; }
 .ah-a:after,
 .ah-a:before { z-index: 1; opacity: 0.4; width: 53px; height: 43px; background-position: -300px -400px; }
 .ah-a:before { background-position: -400px -400px; }
 .ah-a blockquote { position: relative; z-index: 5; }


 .art-i { position: relative; padding-left: 52px; }
 .art-i:before { position: absolute; top: 5px; left: 12px; display: block; content: ''; overflow: hidden; width: 25px; height: 24px; background: url(../images/sprite-set-1.png) -700px -400px no-repeat; text-indent: -10001px; }
  .art-i h2,
  .art-i p { margin-bottom: 0; font-size: 1.2em; line-height: 1.75; }
   .art-i p a { color: #1d64a9; text-decoration: none; }
   .art-i p a:hover { text-decoration: underline; }

 .art-j { float: left; width: 300px; margin-left: 20px; border-top: 5px solid #9ec6ee; background-color: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
  .art-j .wrapper { padding: 20px; }
  .art-j header { margin-bottom: 30px; }
   .art-j header img { display: block; margin: 0 auto; }
   .art-j header h2 { font: normal 1.6em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; text-align: center; }
    .art-j header h2 strong { display: block; color: #4698e9; font: normal 1.31em/1.3 ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; text-align: center; }

.art-k { overflow: hidden; width: 100%; }
 .art-k .image { position: relative; float: left; }
 .art-k .image:before { position: absolute; z-index: 50; top: 0; right: 0; display: block; content: ''; overflow: hidden; width: 10px; height: 124px; background: url(../images/sprite-set-1.png) -900px -1200px no-repeat; text-indent: -10001px; }
  .art-k .image img { display: block; }
 .art-k .content { margin-left: 165px; padding-top: 24px; }
  .art-k .content h2 { margin-bottom: 0; font-size: 1.4em; line-height: 1.2; }
  .art-k .content p { font-size: 1.4em; }
  .art-k .content p.position { margin-bottom: 10px; font-style: italic; }
  .art-k .content p.mail { font-weight: bold; }
   .art-k .content p.mail a { color: #1d64a9; text-decoration: none; }
   .art-k .content p.mail a:hover { color: #1d64a9; text-decoration: underline; }


 .box-a { position: relative; padding-bottom: 92px; background: url(../images/vis-shadow.png) 50% 100% no-repeat; }
 .box-a:before { position: absolute; z-index: 50; bottom: 60px; left: 50%; display: block; content: ''; overflow: hidden; width: 28px; height: 61px; margin-left: 438px; background: url(../images/sprite-set-1.png) -200px 0 no-repeat; text-indent: -10001px; }

 .box-b { position: relative; z-index: 10; margin-top: -52px; padding-bottom: 60px; background: url(../images/slider-shadow.png) 50% 90% no-repeat; }

 .box-c { clear: both; position: relative; width: 820px; margin: 0 auto; overflow: hidden; }

 .box-d { position: relative; z-index: 8; padding-bottom: 20px; background: #1464ab url(../images/map.png) 50% 0 no-repeat; }
 .box-d:before { position: absolute; bottom: -16px; left: 50%; display: block; content: ''; overflow: hidden; width: 30px; height: 16px; margin-left: -15px; background: url(../images/sprite-set-1.png) -330px -50px no-repeat; text-indent: -10001px; }
 .box-d:after { position: absolute; top: 0; left: 50%; display: block; content: ''; overflow: hidden; width: 31px; height: 16px; margin-left: -15px; background: url(../images/sprite-set-1.png) -300px -50px no-repeat; text-indent: -10001px; }
 .bd-a { padding-top: 20px; background-position: 50% 0; }
 .bd-a:before { display: none; }
 .bd-a:after { display: none; }
 .bd-b { padding-top: 100px; }

 .box-e { padding: 50px 0 128px 0; background-color: #fff; }
 .be-a { padding-bottom: 82px; }

 .box-f { position: relative; padding-top: 60px; background: #d9ebfa url(../images/block-shadow-1.png) 0 0 repeat-x; border: 1px solid #c9def0; border-width: 2px 0 1px 0; }
 .bf-a { margin-bottom: 40px; }
 .bf-a { padding-top: 40px; padding-bottom: 40px; background-color: #d9ebfa; }
 .bf-b { padding-bottom: 0; }

.foo-a { width: 100%; height: 110px; background-color: #fff; }

 .box-h { position: relative; float: right; width: 70px; margin: 34px 0 0 10px; }
 /*.box-h { position: relative; float: right; width: 70px; margin: 34px 0 0 44px; }*/
  .box-h h3 { position: relative; z-index: 10; height: 22px; margin-bottom: 0; padding: 0 8px; color: #fff; background: url(../images/btn-1.png) 0 0 repeat-x; border: 1px solid #1f5893; font-weight: normal; font-size: 1em; line-height: 22px; cursor: pointer; -webkit-border-radius: 3px; border-radius: 3px; }
  .box-h h3:before { position: absolute; top: 50%; right: 8px; display: block; content: ''; overflow: hidden; width: 6px; height: 4px; margin-top: -2px; background: url(../images/sprite-set-1.png) 0 0 no-repeat; text-indent: -10001px; }
  .box-h:hover .list-a { left: 0; }

 .box-j { position: relative; padding: 0 60px; background: url(../images/slider-shadow-1.png) 50% 100% no-repeat; }
 .box-j:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 .bj-a { margin-top: 40px; padding: 10px 40px; background: url(../images/bm-shadow.png) 50% 100% no-repeat; border-bottom: 1px solid #e1e1e1; }
 .bj-b { margin-top: 0; }

 .box-l { width: 980px; margin: 50px auto 100px auto; color: #333; padding-bottom: 60px; background-color: #fff; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 68, 134, 0.3); box-shadow: 0px 0px 2px 1px rgba(0, 68, 134, 0.3); }
 .bl-a { padding-bottom: 0; }

 .box-m { padding: 30px 0; }

 .bm-a { /*margin-bottom: 40px;*/ background: url(../images/bm-shadow.png) 50% 100% no-repeat; border-bottom: 1px solid #e1e1e1; }
  .bma-a { margin-bottom: 80px !important; border-bottom: none; }
 .bm-b { padding: 30px 60px 40px 60px; }
 .bm-c { padding-top: 40px; border-bottom: 1px solid #e1e1e1;
   background: url(../images/bm-shadow.png) 50% 100% no-repeat;
   background: url(../images/bm-shadow.png) 50% 100% no-repeat,
               url(../images/bm-bg.png) 0 100% repeat-x; }
 .bm-c.last { margin-bottom: 40px; }

 .bm-d { padding-top: 60px; }
 .bm-e { margin-bottom: 20px; }
 .bm-f { padding: 0 60px; }
 .bm-g { margin-bottom: 40px; }
 .bm-h { position: relative; border-bottom: 1px solid #b5d4ea; background: url(../images/bm-h-bg.png) 0 100% repeat-x; }
 .bm-i { margin-bottom: 40px; }
 .bm-j { position: relative; border-bottom: 1px solid #b5d4ea; }

 .box-n {  }
  .box-n header { position: relative; margin-bottom: 45px; padding-left: 140px; }
  .box-n header:before { position: absolute; top: 5px; left: 0; display: block; content: ''; overflow: hidden; width: 109px; height: 101px; background: url(../images/sprite-set-1.png) 0 -700px no-repeat; text-indent: -10001px; }
   .box-n header h1 { margin-bottom: 0; font: normal 2.4em/1.3 ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }
   .box-n header p { margin-bottom: 0; color: #454545; font: normal 1.8em/1.3 ProximaNovaRgRegular,Arial,Helvetica Neue,Helvetica,sans-serif; }
   .box-n .cols-two-c { padding-bottom: 40px; }
   .js .box-n .cols-two-c { padding-bottom: 0; }
 .bn-1 {  }
  .bn-1 h1,
  .bn-1 .text-c { color: #48a639; }
  .bn-2 header:before { width: 109px; height: 105px; background-position: -200px -700px; }
  .bn-2 h1,
  .bn-2 .text-c { color: #e28921; }
  .bn-3 header:before { width: 112px; height: 98px; background-position: -400px -700px; }
  .bn-3 h1,
  .bn-3 .text-c { color: #7659ab; }
  .bn-4 header:before { width: 109px; height: 111px; background-position: -600px -700px; }
  .bn-4 h1,
  .bn-4 .text-c { color: #285589; }

 .box-o { position: relative; z-index: 10; float: right; background: url(../images/box-o-bg.png) 0 0 repeat-x; border: 1px solid #cfdce9; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 84, 109, 0.1); box-shadow: 0px 1px 2px 0px rgba(50, 84, 109, 0.1);  }
 .box-o:hover { background-position: 0 -33px; }
  .box-o h2 { float: left; height: 33px; margin-bottom: 0; padding: 0 20px 0 10px;  border-right: 1px solid #b9d2ef; font-size: 1.3em; font-weight: normal; color: #5c768f; line-height: 33px; }
  .box-o h3 { position: relative; float: left; width: 238px; height: 33px; margin-bottom: 0; padding: 0 12px; font-size: 1.2em; color: #1d64a9; font-weight: bold; line-height: 33px; }
  .box-o h3:before { position: absolute; top: 50%; right: 10px; display: block; content: ''; overflow: hidden; width: 9px; height: 6px; margin-top: -3px; background: url(../images/sprite-set-1.png) -850px -200px no-repeat; text-indent: -10001px; }
 .box-p { position: relative; z-index: 10; float: right; margin: 10px 10px 0 0; }
  .box-p ul { position: absolute; z-index: 5; left: -666em; padding-top: 40px; }
  .js .box-p ul { left: auto; right: 0; display: none; opacity: 0; }
  /*.box-p:hover ul { left: auto; right: 0; }
  .js .box-p:hover ul {  }*/
 .bp-a { float: none; margin: 0 10px 10px 0; height: 33px; }
  .bp-a h2 { position: absolute !important; left: -10001px !important; overflow: hidden !important; }
  .bp-a h3 { width: 175px; }
  .bp-a ul { width: 199px; }

 .box-r { clear: both; padding: 40px 60px 0 60px; border-bottom: 1px solid #d1dce9;
   background: url(../images/bm-shadow.png) 50% 100% no-repeat;
   background: url(../images/bm-shadow.png) 50% 100% no-repeat,
               url(../images/box-r-bg.png) 0 100% repeat-x; }
  .br-a { margin-bottom: 30px; padding: 20px 0 0 0; }
   .br-a .image { margin-bottom: 0; }
    .br-a .image img { display: block; margin: 0 auto; }

 .box-s { margin: 0 10px 20px 10px; padding: 18px; background-color: #fff; border: 1px solid #dfe3e6; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; box-shadow: 0px 1px 2px 0px rgba(50, 84, 109, 0.1); }

 .box-t { margin: 0 60px; overflow: hidden; }

 .box-u { float: right; margin: -50px 10px 0 0; }
  .box-u p { float: left; height: 35px; margin-bottom: 0; padding-right: 15px; color: #707070; font-size: 1.1em; line-height: 35px; }

 .box-v { padding: 20px 0 0 18px; }
 .box-v:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

 .box-w { margin: 60px -60px 0 -60px; padding: 60px 0 40px 0; position: relative; border-top: 1px solid #d7d7d8;
 	background: url(../images/box-w-shadow.png) 50% 0 no-repeat;
   background: url(../images/box-w-shadow.png) 50% 0 no-repeat,
               url(../images/box-w-bg.png) 0 0 repeat-x;
  }

 .box-w .header-k { position: absolute; top: -1px; left: 52px; }

 .box-x { padding: 20px; border-top: 1px solid #e4e4e4; }
  .box-x.vcard .adr .street-address { display: block; }
 .box-x:first-child { border-top: none; }

 .box-y { min-height: 340px; margin-bottom: 30px; padding: 20px 112px 20px 112px; background: url(../images/box-y-bg.png) 90% 100% no-repeat; }

 .box-z { position: relative; overflow: hidden; width: 860px; z-index: 5; margin: 0 auto; }
 .js .box-z { height: 97px; }
  .box-z .slider-page { position: relative; overflow: hidden; width: 860px; height: 97px; }

 .box-aa { overflow: hidden; width: 100%; background: #fff; }

 .box-ab { position: relative; z-index: 10; float: right; width: 408px; padding: 10px 50px 35px 0; color: #fff; margin-left: -700px; }
  .box-ab .header-e { position: relative; z-index: 10; float: none; width: auto; padding: 0; margin-left: 0; }
  .box-ab .btn { margin: 0; }

 .box-ac { position: relative; overflow: hidden; width: 100%; padding: 50px 0 80px 0; border-bottom: 1px solid #e1e1e1; background-color: #fff; }
 .box-ac:before { position: absolute; bottom: 0; left: 50%; display: block; content: ''; overflow: hidden; width: 742px; height: 8px; margin-left: -371px; background: url(../images/sprite-set-1.png) 0 -1100px no-repeat; text-indent: -10001px; }
 .bac-a { overflow: visible; padding: 0 60px 40px 60px; width: auto; border-bottom: none; border-top: 1px solid #e1e1e1; }
 .bac-a:before { display: none; }
 .bac-b { overflow: visible; margin-bottom: 40px; padding: 0 60px 40px 60px; width: auto; border-top: 1px solid #e1e1e1; }

 .box-ad { position: relative; float: left; left: -50%; width: 413px; margin: 0 11px; padding: 22px; border: 1px solid #c7dae5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;}
  .box-ad .content { clear: both; }
  .box-ad:before { position: absolute; bottom: -20px; left: 50%; display: block; content: ''; overflow: hidden; width: 449px; height: 12px; margin-left: -224px; background: url(../images/sprite-set-1.png) 0 -1000px no-repeat; text-indent: -10001px; }

 .box-ae { overflow: hidden; width: 100%; }
 .box-ae .tab-pane { overflow: hidden; width: 100%; }
  .box-ae .col-a { float: left; width: 410px; }
  .box-ae .col-b { float: right; width: 410px; }

 .box-af {  }
  .box-af h2 { margin-bottom: 5px; color: #1d64a9; font: normal 2.4em/1.3 ProximaNovaRgRegular,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .box-af p { color: #333; font-size: 1.3em; line-height: 1.62; }
 .baf-a h2 { color: #e38618; }

 .box-ag { position: relative; float: right; overflow: hidden; margin-top: 6px; }
  .box-ag:before { z-index: 5; position: absolute; top: 0; left: 0; display: block; content: ''; overflow: hidden; width: 100%; height: 23px; text-indent: -10001px; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow:  0px 0px 2px 0px rgba(255, 255, 255, 0.3); box-shadow:  0px 0px 2px 0px rgba(255, 255, 255, 0.3); }

 .box-ah { position: relative; min-height: 380px; padding: 50px 445px 20px 0; }
  .box-ah header { margin-bottom: 30px; color: #3a4d60; }
  .box-ah header p { font: normal 2.1em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .box-ah p { font: normal 1.8em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .box-ah .visual { display: block; position: absolute; bottom: -40px; right: -60px; }

 .box-ai { margin: 40px 60px; padding: 10px; border: 1px solid #d6e1ed; }
 .bai-a { margin: 0; }

 .box-aj { overflow: hidden; width: 100%; padding-bottom: 20px; background: #1d64a9 url(../images/box-aj-bg.png) 0 0 no-repeat; }
  .box-aj > header { padding: 30px 60px; }
   .box-aj > header p { color: #fff; font: normal 1.8em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }


.box-ak { overflow: hidden; min-height: 310px; padding: 50px 80px 0 505px; color: #fff; border-top: 1px solid #83bce9; -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0;
 background: url(../images/for-partners-bg.png) 30px 0 no-repeat,
             url(../images/for-partners-bg-1.png) 0 100% repeat-x;
 background-color: #1d64a9;
 }

 .box-ak h1 { margin-bottom: 20px; font: normal 2.4em/1.3 ProximaNovaRgRegular,Arial,Helvetica Neue,Helvetica,sans-serif; }
 .box-ak .lead { margin-bottom: 40px; font: normal 1.6em/1.3 ProximaNovaRgRegular,Arial,Helvetica Neue,Helvetica,sans-serif; }

 .cols-two-a { overflow: hidden; margin: 0 auto; width: 860px; }
  .primary-ta { float: left; width: 421px; }
  .secondary-ta { float: right; width: 421px; }

 .cols-two-b { overflow: hidden; margin: 0 auto; width: 940px; }
  .primary-tb { float: left; width: 430px; padding-left: 40px; }
  .secondary-tb { float: right; width: 348px; }
 .ctb-a { position: relative; padding: 30px 0 50px 0; }

 .cols-two-c { width: 100%; }
 .cols-two-c:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .primary-tc { float: left; width: 400px; }
  .secondary-tc { float: right; width: 400px; }

 .cols-two-d { overflow: hidden; width: 100%; padding-bottom: 40px; }
  .primary-td { float: left; width: 600px; }
  .secondary-td { float: right; width: 245px; padding-top: 10px; }
  .short-col .primary-td { float: left; width: 380px; }

 .cols-two-e { width: 100%; }
 .cols-two-e:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .primary-te { float: left; width: 540px; }
  .secondary-te { float: right; width: 370px; margin-right: -60px; }
  .primary-tf .primary-te,
  .short-col .primary-te { width: 323px; }

 .cols-two-f { overflow: hidden; width: 100%; background: url(../images/f-cols-a.png) 100% 0 repeat-y; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; }
  .primary-tf { float: left; width: 760px; }
  .secondary-tf { float: left; width: 220px; padding-top: 10px; }

 .cols-two-g { overflow: hidden; width: 100%; }
  .primary-tg { float: left; width: 440px; }
  .secondary-tg { float: left; width: 420px; }

 .cols-two-h { overflow: hidden; width: 100%; padding-bottom: 30px; }
  .primary-th { float: left; width: 275px; }
  .secondary-th { float: right; width: 360px; min-height: 120px; }

 .cols-two-i { width: 100%; }
 .cols-two-i:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .primary-ti { float: left; width: 530px; }
  .secondary-ti { float: right; width: 275px; }

 .cti-a {  }
  .cti-a .primary-ti { width: 405px; }
  .cti-a .secondary-ti { margin-right: -60px; }

 .cols-two-j { overflow: hidden; width: 100%; background: url(../images/fcols-b.png) 0 0 repeat-y; }
  .primary-tj { float: left; width: 330px; margin-left: 50px; }
  .secondary-tj { float: left; width: 330px; margin-left: 50px; }

 .cols-two-k { overflow: hidden; width: 860px; }
  .primary-tk { float: left; width: 420px; }
  .secondary-tk { float: right; width: 420px; }

 .cols-two-l { overflow: hidden; width: 100%; }
  .primary-tl { float: left; width: 140px; }
  .secondary-tl { margin-left: 140px; }

 .cols-two-m { width: 100%; margin-bottom: 40px; }
 .cols-two-m:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .primary-tm { float: left; width: 420px; }
  .secondary-tm { float: right; width: 425px; }
 .ctm-a .primary-tm { width: 320px; }
 .ctm-a .secondary-tm { width: 450px; }



 .col-a { float: left; margin-bottom: 25px; /*padding-top: 10px;*/ }
  .cla-a { width: 485px; }
  .cla-b { width: 155px; overflow: hidden; }
  .cla-c {  }

 .h-box-a { position: absolute; left: 50%; top: -80px; width: 640px; height: 87px; margin-left: -448px; padding: 10px 200px 0 50px; background: url(../images/sprite-set-1.png) 0 -300px no-repeat; cursor: pointer; }
 /*.h-box-a:before { position: absolute; top: 45px; right: -15px; display: block; content: ''; overflow: hidden; width: 23px; height: 66px; background: url(../images/sprite-set-1.png) -700px 0 no-repeat; text-indent: -10001px; } */
 .bf-a .h-box-a:before { display: none !important; }
 .h-box-a.collapsed:before { position: absolute; top: 45px; right: -15px; display: block; content: ''; overflow: hidden; width: 23px; height: 66px; background: url(../images/sprite-set-1.png) -700px 0 no-repeat; text-indent: -10001px; }
  .h-box-a p { color: #fff; text-shadow: 0px -1px 0px #4b80bc; line-height: 1.3; }
   .h-box-a p .link-c { position: absolute; right: 18px; top: 0; display: block; overflow: hidden; width: 141px; height: 96px; background: url(../images/sprite-set-1.png) 0 -4000px no-repeat; text-indent: -10001px; }
   .h-box-a:hover .link-c { background-position: 0 -400px; }
 .h-box-a.sent { cursor: default; height: 82px; padding-top: 15px; }
 .h-box-a.sent:hover .link-c { cursor: default; background-position: 0 -4000px; }
 .h-box-a.sent:before { display: none; }
 .h-box-a-a { background-position: 0 -1200px; }
 .h-box-a-a:hover { background-position: 0 -1300px; }


 .hbox-b h1 { margin-bottom: 0; color: #1d64a9; font: normal 2.8em/1.2 ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif !important;  }
 .hbox-b p { color: #1d64a9; font: normal 2.1em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }

 .info-box { margin-bottom: 35px; padding: 20px 20px 10px 20px; color: #fff; -webkit-border-radius: 5px; border-radius: 5px; }
 .info-box.error { background-color: #d74827;  }
  .info-box h2 { margin-bottom: 5px; font-size: 1.2em; font-weight: normal; }

 .slider-a { overflow: hidden; position: relative; z-index: 5; width: 100%; height: 470px; margin: 0 auto; }

 .js .slider-a {  background: url(../images/ajax-loader2.gif) 50% 50% no-repeat; }
 .js .slider-a.loaded { background: none; }
/* .js.ielt9 .slider-a.loaded { background: url(../images/main-bg.jpg) 50% 0 no-repeat !important; background-color: #f4fbff; } */

 .text-area-a {  }
  .text-area-a p { margin-bottom: 20px; font-size: 1.3em; line-height: 1.6; }
  .text-area-a h1,
  .text-area-a h2 { margin-bottom: 20px; font: normal 1.8em/1.3 ProximaNovaRgRegular,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .text-area-a .header-e { margin-bottom: 5px; }
   .text-area-a ul { list-style: none; margin: 0; padding: 0; }
    .text-area-a ul li { position: relative; margin-bottom: 10px; padding-left: 20px; font-size: 1.3em; line-height: 1.6; }
    .text-area-a ul li:before { position: absolute; top: 6px; left: 0; display: block; content: ''; overflow: hidden; width: 7px; height: 7px; background: url(../images/sprite-set-1.png) -800px -200px no-repeat; text-indent: -10001px; }
 .txa-a {  }
  .txa-a p { font-size: 1.5em; }


 .text-area-b {  }
  .text-area-b p { font-size: 1.2em; line-height: 1.5; }
   .text-area-b p a { color: #1d64a9; text-decoration: none; }
   .text-area-b p a:hover { text-decoration: underline; }

 /*.text-area-c { -webkit-column-count: 2; -webkit-column-gap: 20px; -webkit-column-rule: 0px dotted #000; -moz-column-count: 2; -moz-column-gap: 20px; -moz-column-rule: 0px dotted #000; column-count: 2; column-gap: 20px; column-rule: 0px dotted #000; }*/

.text-area-d {  }
 .text-area-d p { color: #454545; font: normal 1.8em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }
 .text-area-d img { display: block; }


.text-area-e {  }
 .text-area-e p { color: #565656; font: normal 1.6em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; text-align: center; }
 .text-area-e ul { list-style: none; margin: 0; padding: 0; }
  .text-area-e ul li { position: relative; margin-bottom: 8px; padding-left: 21px; color: #565656; font: normal 1.6em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; color: #333; }
  .text-area-e ul li:before { position: absolute; top: 6px; left: 0; display: block; content: ''; overflow: hidden; width: 8px; height: 8px; background: #a1c5da; text-indent: -10001px; -webkit-border-radius: 4px; border-radius: 4px; }

.text-area-f {  }
 .text-area-f p { padding-right: 20px; }

.img-container-a img { margin-left: -10px; }

 .wrapper-a { width: 980px; margin: 0 auto; }
  .wpa-a { overflow: hidden; }
  .wpa-b:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .wpa-c { width: 860px; }
  .wpa-d { margin: -60px 0 60px 0; }
 .wrapper-b { position: relative; float: left; left: 50%; }
 .wrapper-c { margin-bottom: 40px; }
 .wrapper-d { position: relative; border-top: 1px solid #e5e5e5; }

 .wrapper-e { position: relative; float: left; left: 50%; }

 .temp-container { clear: both; display: none; opacity: 0; }
 .temp-insert-container { display: none; opacity: 0; }

 .content-container-a { padding: 30px 60px; }
 .cca-a { margin-bottom: -30px; padding-bottom: 0; }

 .box-404 { position: relative; width: 980px; min-height: 500px; margin: 0 auto; color: #fff; }
  .box-404 .content { padding: 85px 0 0 580px; }
  .box-404 h1 { margin: 0; font: normal 4.8em/1 ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .box-404 h2 { margin: 0 0 30px 0; font: normal 1.8em/1.5 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .box-404 p { margin: 0 0 30px 0; font: normal 2.1em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }

/*! forms --------- */

form { }
 textarea { overflow: auto; }
 button { overflow: visible; padding: 0 10px; cursor: pointer; } button::-moz-focus-inner { padding: 0; border: none; }

 .form-a { width: 784px; position: relative; margin: 0 auto; }
  .form-a .field-a { overflow: hidden; margin-bottom: 19px; width: 652px; color: #454545; }
   .form-a .field-a label { float: left; display: block; overflow: hidden; width: 145px; padding: 7px 16px 0 0; text-align: right; font-weight: bold; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1); }
   .form-a .field-a label.error { clear: left; float: right; width: auto; height: 18px; margin-top: 4px; padding: 0 6px 0 6px; color: #fff; background-color: #d74827; font-size: 0.84em; font-weight: normal; text-shadow: none; line-height: 18px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
    .form-a .field-a label em { display: block; float: right; padding-top: 4px; color: #647d83; font-size: 0.84em; }
   .form-a .field-a input { float: left; display: block; width: 448px; padding: 7px 5px; border: 1px solid #bbcddc; background-color: #fff; line-height: 1.2; color: #454545; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.1);  -webkit-transition: background 0.8s ease; -moz-transition: background 0.8s ease; transition: background 0.8s ease; }
   .form-a .field-a input.error { padding: 7px 5px !important; border-width: 0px !important; }
   .form-a .field-a span { display: block; position: relative; }
   .form-a .error span.f-container { float: left; padding-right: 31px; background-color: #d74827; border: 1px solid #d74827; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
   .form-a .error span.f-container:before { position: absolute; top: 50%; right: 8px; display: block; margin-top: -8px; content: ''; overflow: hidden; width: 16px; height: 16px; background: url(../images/sprite-set-1.png) -500px -200px no-repeat; text-indent: -10001px; }
   .form-a .flda-a input { width: 150px; }
   .form-a .field-a select { display: block; width: 460px; padding: 7px 5px; border: 1px solid #bcdbe4; color: #454545; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.1);  /* seems like transitions doing something weird in chrome on select field  -webkit-transition: background 0.8s ease; */ -moz-transition: background 0.8s ease; transition: background 0.8s ease; }
   .form-a .field-a input:focus,
   .form-a .field-a select:focus,
   .form-a .field-a textarea:focus { background-color: #fdfde6; outline: none; }
   .form-a .field-a input.error:focus { border-width: 0px; }

   .form-a .field-a textarea { float: left; display: block; width: 448px; margin: 0; padding: 7px 5px; border: 1px solid #bbcddc; background-color: #fff; line-height: 1.2; color: #454545; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.1);  -webkit-transition: background 0.8s ease; -moz-transition: background 0.8s ease; transition: background 0.8s ease; }
   .form-a .field-a textarea.error { padding: 7px 5px !important; border-width: 0px !important; }

   .form-a input:focus { outline: none; }
   .form-a .btn { padding: 0 0 4px 160px; font-size: 1.3em; overflow: hidden; }

   .form-a .field-b { position: absolute !important; left: -10001px !important; overflow: hidden !important; }

/*! tables -------- */

table { border-collapse: collapse; border-spacing: 0; }
 table th, table td { padding: 5px 10px; border: 1px solid #eee; }

.table-conrainer-a { overflow: hidden; position: relative; margin-bottom: 40px; border: 1px solid #bbcddc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.table-a { width: 100%; margin: -1px 0 -1px -1px; }
.table-a th, .table-a td { padding: 10px 16px; border: 1px solid #bbcddc; border-right-width: 0; }
 .table-a tbody th { color: #000; font-size: 1.5em; vertical-align: top; text-align: left; line-height: 1.2; }
 .table-a tbody td { color: #000; font-size: 1.3em; vertical-align: middle; }





/*! lists --------- */

ul, ol, dd, blockquote { padding-left: 40px; }
 ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }


 .b-crumbs { overflow: hidden; width: 100%; list-style: none; margin: 0; padding: 0; border-bottom: 1px solid #e9e9e9; }
  .b-crumbs li { float: left; height: 30px; line-height: 30px; font-size: 1.1em; font-style: italic; color: #333; }
  .b-crumbs li:first-child { padding-left: 11px; }
   .b-crumbs li a { position: relative; display: block; padding-right: 18px; height: 30px; color: #707070; text-decoration: none; line-height: 30px; }
   .b-crumbs li a:hover { text-decoration: underline; }
   .b-crumbs li a:before { position: absolute; top: 50%; right: 2px; display: block; content: ''; overflow: hidden; width: 12px; height: 12px; margin-top: -6px; background: url(../images/sprite-set-1.png) -700px -100px no-repeat; text-indent: -10001px; }

 .list-a { position: absolute; z-index: 5; top: 0; left: -666em; width: 68px; list-style: none; margin: 0; padding: 22px 0 0 0; background-color: #3266a5; border: 1px solid #1f5893; -webkit-border-radius: 3px; border-radius: 3px; }
  .list-a li { font-size: 1em; text-transform: uppercase; }
   .list-a li a { display: block; height: 22px; padding: 0 8px; color: #fff; line-height: 22px; text-decoration: none; }
   .list-a li a:hover { background-color: #174b8a; }

 .list-b { position: relative; z-index: 5; list-style: none; width: 960px; height: 476px; margin: 0 auto; padding: 0; }

  .list-b li { position: absolute; top: 0; left: 0; width: 960px; height: 476px; z-index: 1; opacity: 0; }
  .list-b li:first-child { opacity: 1; }
   .list-b li .content { position: relative; z-index: 30; width: 350px; padding: 128px 40px 0 570px; }
   .ua .list-b li .content,
   .by .list-b li .content,
   .de .list-b li .content,
   .ru .list-b li .content { padding-top: 108px; }
    .list-b li .content .text { margin-bottom: 25px; font-size: 1.75em; line-height: 1.42; text-shadow: 0px -1px 0px #29629d; color: #fff; font-family: ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }
    .ua .list-b li .content .text,
    .by .list-b li .content .text,
    .de .list-b li .content .text,
    .ru .list-b li .content .text { margin-bottom: 15px; font-size: 1.6em; line-height: 1.38; }
    .list-b li .content .text strong { font-weight: normal; font-family: ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; }
  .list-b li .visual-a { position: absolute; top: 0; left: 0; display: block; }

   .js .list-b li:first-child .content { position: absolute; left: 150; opacity: 0; }
   .js .list-b li:first-child .vis-a-a { top: -250px; }
   .js .list-b li:first-child .vis-a-b { top: -450px; }
   .js .list-b li:first-child .vis-a-c { opacity: 0; }

  .list-b li .visual-conrainer-a { position: absolute; top: 0; z-index: 1; left: 0; width: 663px; height: 470px; }
  .list-b li .vis-a-a { top: 235px; z-index: 10; left: 83px; }
  .list-b li .vis-a-b { top: 24px; z-index: 5; left: 100px; }
  .list-b li .vis-a-c { top: 12px; z-index: 1; left: -140px; }

  .list-b li .visual-conrainer-b { position: absolute; top: 0; z-index: 1; left: -150px; width: 663px; height: 470px; overflow: hidden; }
  .list-b li .vis-b-a { top: 47px; z-index: 2; left: 0; }
  .list-b li .vis-b-b { top: 2px; z-index: 1; left: -75px; }

  .list-b li .vis-c-a { top: 240px; z-index: 4; left: 235px; font-size: 1; }
  .list-b li .vis-c-b { top: 80px; z-index: 1; left: 50px; }
  .list-b li .vis-c-c { top: 220px; z-index: 3; left: 218px; }
  .list-b li .vis-c-d { top: 192px; z-index: 3; left: 190px; }
/* icons */
  .list-b li .vis-c-e { top: 331px; z-index: 2; left: 107px; }
  .list-b li .vis-c-f { top: 230px; z-index: 2; left: 47px; }
  .list-b li .vis-c-g { top: 102px; z-index: 2; left: 101px; }
  .list-b li .vis-c-h { top: 45px; z-index: 2; left: 223px; }
  .list-b li .vis-c-i { top: 72px; z-index: 2; left: 362px; }
  .list-b li .vis-c-j { top: 229px; z-index: 2; left: 405px; }
/* lines */
  .list-b li .vis-c-k { display: block;  }
  .list-b li .vis-container-a { display: block;  }

  .list-b li .vis-c-l { top: 294px; z-index: 2; left: 182px; }
  .list-b li .vis-c-m { top: 268px; z-index: 2; left: 124px; }
  .list-b li .vis-c-n { top: 182px; z-index: 2; left: 176px; }
  .list-b li .vis-c-o { top: 123px; z-index: 2; left: 261px; }
  .list-b li .vis-c-p { top: 150px; z-index: 2; left: 297px; }
  .list-b li .vis-c-r { top: 268px; z-index: 2; left: 300px; }


 .list-c { position: absolute; z-index: 10; left: 50%; top: 67px; list-style: none; margin: 0 0 0 90px; padding: 0; }
  .list-c li { float: left; padding-right: 6px; }
   .list-c li a { display: block; overflow: hidden; width: 19px; height: 19px; background: url(../images/sprite-set-1.png) -119px 0 no-repeat; text-indent: -10001px; }
   .list-c li a:hover { background-position: -138px 0; }
   .list-c li.active a { background-position: -100px 0; }
 .lc-a { left: auto; right: 56px; top: 0; }
  .lc-a li a { background-position: -119px -19px; }
  .lc-a li a:hover { background-position: -138px -19px; }
  .lc-a li.active a { background-position: -100px -19px; }
 .lc-b { top: 27px; }


 .list-d { position: relative; list-style: none; margin: 0; padding: 0; /*height: 283px;*/ overflow: hidden; }
 .list-d:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .list-d li { position: relative; float: left; width: 300px; overflow: hidden; margin-left: 20px; padding-bottom: 50px; }
  .list-d.with-anim li { height: 283px; }
  .list-d.no-anim li { padding-bottom: 0; }
   .list-d li .item { position: relative; padding-top: 160px; background-color: #fff; -webkit-border-radius: 5px; border-radius: 5px; }
  .list-d.with-anim li .item { position: absolute; float: none; top: 500px; opacity: 0; }
 /* .list-d.with-anim li.item-a { left: 0; }
  .list-d.with-anim li.item-b { left: 320px; }
  .list-d.with-anim li.item-c { left: 640px; }  */
  .list-d li .item:before { position: absolute; top: 0; left: 0; display: block; content: ''; overflow: hidden; width: 99px; height: 95px; background: url(../images/sprite-set-1.png) 0 -100px no-repeat; text-indent: -10001px; }
  .list-d li .item-a:before { top: 30px; left: 50%; margin-left: -50px; }
  .list-d li .item-b:before { top: 23px; left: 50%; width: 107px; height: 106px; margin-left: -53px; background-position: -100px -100px; }
  .list-d li .item-c:before { top: 45px; left: 50%; width: 131px; height: 78px; margin-left: -65px; background-position: -300px -100px; }
   .list-d li .item p { height: 100px; margin: 0; padding: 23px 25px 0 25px; font: normal 1.75em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; color: #333; background-color: #f0f0f0; text-align: center; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; }
    .list-d li .item p strong { font-weight: normal; font-family: ProximaNovaRgRegular,Arial,Helvetica Neue,Helvetica,sans-serif; }
    .list-d li .item-a p strong { color: #285589; }
    .list-d li .item-b p strong { color: #e38618; }
    .list-d li .item-c p strong { color: #3eb02b; }
   .list-d li .text { padding: 20px 40px 0 40px; }
    .list-d li .text p { color: #fff; line-height: 1.61; }


 .list-e { width: 100%; overflow: hidden; list-style: none; margin: 0 auto 30px auto; padding: 0; }
 .list-e:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .list-e li { position: relative; clear: both; width: 690px; padding: 40px 90px 30px 80px; }
 .js .list-e li { display: none; }
 .js .list-e li:first-child { display: block; }
  .list-e li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
   .list-e li blockquote { margin: 0; padding: 0; width: 100%; }
    .list-e li blockquote p { color: #285589; font: italic 1.75em/1.5 Georgia, Times New Roman, serif; }
    .list-e li .cite { float: left; color: #454545; }
     .list-e li .cite cite { display: block; font-weight: bold; font-style: normal; font-size: 1.16em; }
    .list-e li .logo { float: right; margin-top: -10px; }
     .list-e li .logo img { opacity: 0.5; }
    .list-e li .quote { display: block; position: absolute; overflow: hidden; width: 53px; height: 43px; background: url(../images/sprite-set-1.png) -400px -400px no-repeat; text-indent: -10001px; }
    .list-e li .quote.start { top: 40px; left: 0; }
    .list-e li .quote.end { bottom: 115px; right: 0; background-position: -300px -400px; }
 .le-a li { width: 540px; padding: 40px 64px 30px 64px; }
 .le-a li blockquote p { font-size: 1.38em; }
 .le-a li .quote.start { background-position: -500px -400px; }
 .le-a li .quote.end { background-position: -600px -400px; }

 .list-f { list-style: none; margin: 0 0 12px -1px; padding: 0; }
 .list-f:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .list-f li { float: left; padding-left: 1px; }
   .list-f li a { position: relative; overflow: hidden; display: block; width: 139px; height: 124px; }
   .list-f li a:before { position: absolute; z-index: 50; bottom: 0; left: 0; display: block; content: ''; overflow: hidden; width: 139px; height: 14px; background: url(../images/sprite-set-1.png) -500px -100px no-repeat; text-indent: -10001px; }
   .list-f li.active a:before { background-position: -500px -114px; }
    .list-f li a img,
    .list-f li a canvas { position: absolute; display: block; top: 0; left: 0; z-index: 10; }
    .list-f li a img { z-index: 20; display: block; z-index: 10; }
    .list-f li a .bw { display: block; z-index: 11; }
    .list-f li.active a .bw { visibility: hidden; }
    .list-f li.active a img { display: block; }
    .list-f li a:hover { border: 0px solid black; }
    .list-f li a:hover .bw { visibility: hidden; }
    .list-f li a:hover img { display: block; }
  .lf-a { margin: 0 0 -1px 0; }
   .lf-a li { float: none; padding: 0 0 1px 0; }
    .lf-a li a:before { bottom: auto; left: auto; top: 0; right: 0; width: 10px; height: 124px; background-color: #fff; background-position: 1000px 1000px !important; }
    .lf-a li.active a:before { background-color: transparent !important; background-position: -900px -1200px !important; }

 .list-g { list-style: none; margin: 0 0 30px 0; padding: 0; }
  .list-g li {  }
 .js .list-g li { display: none; }
 .js .list-g li:first-child { display: block; }
   .list-g li blockquote { margin: 0; padding: 0; }
    .list-g li blockquote p { margin-bottom: 11px; color: #333; font: italic 1.16em/1.5 Georgia, Times New Roman, serif; }
    .list-g li .cite { color: #454545; font-size: 0.94em; line-height: 1.3; }
     .list-g li .cite cite { display: block; font-weight: bold; font-style: normal; font-size: 1.1em; }
 .lg-a { margin: 0; }
  .lg-a li { padding: 0 30px; }
.lg-a li blockquote p { font-size: 1.38em; }
.lg-a li .cite { margin: 0; font: normal 1.23em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }

 .list-h { list-style: none; margin: 0 0 30px 0; padding: 0; border-bottom: 1px dashed #d3d3d3; }
  .list-h li { border-top: 1px dashed #d3d3d3; font-size: 1.4em; line-height: 1.2; }
   .list-h li a { position: relative; display: block; padding: 20px 90px 20px 20px; text-decoration: none;  -webkit-transition: background 0.1s ease; -moz-transition: background 0.1s ease; transition: background 0.1s ease; }
   .list-h li a:before { position: absolute; top: 50%; right: 20px; display: block; content: ''; overflow: hidden; width: 10px; height: 15px; margin-top: -7px; background: url(../images/sprite-set-1.png) -600px -50px no-repeat; text-indent: -10001px; }
   .list-h li a:hover { background-color: #f3f3f3; }
   .list-h li a:hover:before { background-position: -610px -50px; }
    .list-h li a p { margin-bottom: 0; font-weight: bold; color: #3175c4; }
    .list-h li a p.date { margin-bottom: 2px; font-weight: normal; font-size: 0.8em; color: #454545; }

 .list-i { list-style: none; margin: 0 0 0 -8px; padding: 0; }
  .list-i li { float: left; font-size: 1.1em; }
   .list-i li a { display: block; height: 25px; padding: 0 8px; line-height: 25px; color: #d1d1d1; text-decoration: none; }
   .list-i li a:hover { color: #fff; text-decoration: underline; }

 .list-j { list-style: none; margin: 0; padding: 4px 0 0 0; }
  .list-j dt { float: left; display: block; padding-top: 1px; color: #d1d1d1; font-size: 1.0em; text-transform: uppercase; }
  .list-j dt.item-a { padding-left: 38px; }
  .list-j dd { float: left; display: block; margin: 0; padding: 0 0 0 8px; color: #fff; font-size: 1.1em; }
   .list-j dd a { color: #fff; text-decoration: none; }
   .list-j dd a:hover { text-decoration: underline; }

 .list-k { list-style: none; height: 130px; margin: 0 auto; padding: 0; }
 .lk-a { position: relative; float: left; left: 50%; overflow: visible !important; }
  .lk-a li { position: relative; float: left; left: -50%; }
 .js .list-k { overflow: hidden; }
  .list-k li { float: left; margin: 0 10px; font-size: 1.1em; }

 .list-l { position: relative; overflow: hidden; width: 100%; list-style: none; margin: 0; padding: 0; }
 .list-l:before { position: absolute; z-index: 5; bottom: 0; left: 0; display: block; content: ''; overflow: hidden; width: 100%; height: 1px; background: #104b84; text-indent: -10001px; }
  .list-l li { position: relative; overflow: hidden; float: left; width: 244px; height: 59px; color: #1d64a9; border-left: 1px solid #8bb1df; background: url(../images/nav-1-bg.png) 0 0 repeat-x; font: normal 1.8em/59px /*ProximaNovaRgRegular*/ProximaNovaLtSemiBold,Arial,Helvetica Neue,Helvetica,sans-serif; cursor: pointer; }
  .list-l li:first-child { border: none; width: 245px; -webkit-border-radius: 5px 0px 0px 0px; border-radius: 5px 0px 0px 0px; }
  .list-l li.last { -webkit-border-radius: 0px 5px 0px 0px; border-radius: 0px 5px 0px 0px; }
   .list-l li a { display: block; overflow: hidden; width: 100%; color: #1d64a9; text-decoration: none; text-shadow: 0 1px 0px rgba(255, 255, 255, 0.6); }
    .list-l li a span.outer { position: relative; float: left; left: 50%; display: block; }
    .list-l li a span.inner { position: relative; float: left; left: -50%; display: block; }
    .list-l li a span.inner:before { position: absolute; top: 50%; left: 0; display: block; content: ''; overflow: hidden; width: 30px; height: 30px; margin-top: -15px; background: url(../images/sprite-set-1.png) -750px 0 no-repeat; text-indent: -10001px; }
   .list-l li.active,
   .list-l li.active:active { position: relative; z-index: 10; width: 245px; border-top: 1px solid #83bce9; border-left: 0; background: #1d64a9 url(../images/nav-1-glow.png) 50% 0 no-repeat !important; -webkit-box-shadow: none; box-shadow: none;  }
   .list-l li:active a { padding-top: 1px;  }
   .list-l li.active:active a { padding-top: 0;  }
   .list-l li:active { background: url(../images/nav-1-bg.png) 0 0 repeat-x !important; -webkit-box-shadow: inset 0px 0px 2px 2px rgba(139, 177, 223, 0.9); box-shadow: inset 0px 0px 2px 2px rgba(139, 177, 223, 0.9);  }
   .list-l li:active:before { position: absolute; top: 0; left: 0; display: block; content: ''; overflow: hidden; width: 244px; height: 1px; background: url(../images/sprite-set-1.png) -750px -700px no-repeat; text-indent: -10001px; }
    .list-l li.active a { color: #fff; text-shadow: none; }
   .list-l li:hover { background-position: 0 -59px; }

   .list-l li.item-a a span.inner { padding-left: 43px; }
   .list-l li.item-a a span.inner:before {  }
   .list-l li.item-a.active a span.inner:before { background-position: -750px -50px; }

   .list-l li.item-b a span.inner { padding-left: 47px; }
   .list-l li.item-b a span.inner:before { width: 37px; height: 37px; margin-top: -18px; background-position: -800px 0; }
   .list-l li.item-b.active a span.inner:before { background-position: -800px -50px; }

   .list-l li.item-c a span.inner { padding-left: 44px; }
   .list-l li.item-c a span.inner:before { width: 31px; height: 32px; margin-top: -16px; background-position: -850px 0; }
   .list-l li.item-c.active a span.inner:before { background-position: -850px -50px; }

   .list-l li.item-d a span.inner { padding-left: 45px; }
   .list-l li.item-d a span.inner:before { width: 28px; height: 39px; margin-top: -19px; background-position: -900px 0; }
   .list-l li.item-d.active a span.inner:before { background-position: -900px -50px; }

   .list-l li.item-e a span.inner { padding-left: 48px; }
   .list-l li.item-e a span.inner:before { width: 37px; height: 33px; margin-top: -16px; background-position: -750px -100px; }
   .list-l li.item-e.active a span.inner:before { background-position: -750px -150px; }

   .list-l li.item-f a span.inner { padding-left: 46px; }
   .list-l li.item-f a span.inner:before { width: 35px; height: 36px; margin-top: -18px; background-position: -800px -100px; }
   .list-l li.item-f.active a span.inner:before { background-position: -800px -150px; }

   .list-l li.item-g a span.inner { padding-left: 45px; }
   .list-l li.item-g a span.inner:before { width: 34px; height: 30px; margin-top: -15px; background-position: -850px -100px; }
   .list-l li.item-g.active a span.inner:before { background-position: -850px -150px; }

   .list-l li.item-h a span.inner { padding-left: 43px; }
   .list-l li.item-h a span.inner:before { width: 36px; height: 33px; margin-top: -18px; background-position: -200px -1400px; }
   .list-l li.item-h.active a span.inner:before { background-position: -300px -1400px; }

 .ll-a {  }
  .ll-a li { width: 326px; }
  .ll-a li:first-child { width: 326px !important; }
  .ll-a li.active,
  .ll-a li.active:active { width: 327px; }
  .ll-a li.last { width: 326px; }
  .ll-a li.last.active { width: 327px !important; }


 .list-m { width: 100%; overflow: hidden; height: 37px; list-style: none; margin: 0 0 45px 0; padding: 0; background: url(../images/sprite-set-1.png) 0 -600px no-repeat; }
  .list-m li { position: relative; float: left; width: 216px; margin-right: -1px; font-size: 1.2em; }
  .list-m li:before { position: absolute; z-index: 1; top: 1px; left: 0; display: block; content: ''; overflow: hidden; width: 1px; height: 36px; background: #d3d3d3; text-indent: -10001px; }
  .list-m li:first-child:before { display: none; }
   .list-m li a { position: relative; display: block; z-index: 5; width: 216px; height: 37px; color: #333; font-weight: bold; text-align: center; text-decoration: none; line-height: 37px; background: url(../images/btn-3.png) 0 -100px repeat-x; }
   .list-m li a:hover { background-position: 0 100%; }
   .list-m li.current a { color: #fff; }
   .list-m li.item-1.current a { background: #4dae3d !important; }
   .list-m li.item-2.current a { background: #e28921 !important; }
   .list-m li.item-3.current a { background: #7659ab !important; }
   .list-m li.item-4.current a { background: #285589 !important; }

  .list-m li:first-child a { -webkit-border-radius: 5px 0px 0px 5px; border-radius: 5px 0px 0px 5px; }
  .list-m li.last a { -webkit-border-radius: 0px 5px 5px 0px; border-radius: 0px 5px 5px 0px; }
 .lstm-a { width: 430px; margin: 20px auto 40px auto; background: url(../images/sprite-set-1.png) 0 -900px no-repeat; }


  .list-n { list-style: none; width: 262px; border: 1px solid #cfdce9; margin: 0; padding: 10px 0; background-color: #e9f6fd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 84, 109, 0.1); box-shadow: 0px 1px 2px 0px rgba(50, 84, 109, 0.1); }
   .list-n li { line-height: 1.2; }
    .list-n li a { display: block; padding: 3px 12px; color: #1d64a9; text-decoration: none; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); }
    .list-n li a:hover { background-color: #c5e2f2; }
    .list-n li.active a { font-weight: bold; color: #333; }

 .list-o { list-style: none; margin: 0 10px 20px 10px; padding: 0; background-color: #fff; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; box-shadow: 0px 1px 2px 0px rgba(50, 84, 109, 0.1); }
  .list-o li { font-size: 1.2em; line-height: 1.3; border: 1px solid #dfe3e6; border-width: 1px 1px 0 1px; }
   .list-o li a { position: relative; display: block; padding: 8px 18px; color: #1d64a9; text-decoration: none; }
    .list-o li a time { display: block; color: #454545; font-size: 0.9em; }
   .list-o li a:hover,
   .list-o li.active a { color: #fff; background-color: #1d64a9; border-color: #1d64a9; }
   .list-o li a:hover time,
   .list-o li.active a time { color: #bcdaf7; }
   .list-o li.active a:before { position: absolute; top: 50%; left: -4px; display: block; content: ''; overflow: hidden; width: 10px; height: 19px; margin-top: -9px; background: url(../images/sprite-set-1.png) -900px -200px no-repeat; text-indent: -10001px; }
   .list-o li:first-child,
   .list-o li:first-child a { -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; }
   .list-o li.last { border-bottom-width: 1px; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; }
   .list-o li.last a { -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; }
 .lo-a {  }
  .lo-a li { font: italic 1.2em/1.2 Georgia, Times New Roman, serif; }
   .lo-a li a { padding: 12px 18px; color: #707070; }

 .lo-b { margin-top: 10px; }

 .list-p { list-style: none; margin: 0; padding: 0; }
  .list-p li { position: relative; padding: 0 0 4px 16px; color: #454545; font: italic 1.3em/1.5 Georgia, Times New Roman, serif; }
  .list-p li:before { position: absolute; top: 6px; left: 0; display: block; content: ''; overflow: hidden; width: 6px; height: 6px; background: url(../images/sprite-set-1.png) -800px -250px no-repeat; text-indent: -10001px; }

 .list-r { position: relative; z-index: 5; clear: both; list-style: none; margin: 0 0 60px 0; border-bottom: 1px solid #e0e0e0; padding: 60px 0 60px 61px; }
 .list-r:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .list-r li { position: relative; z-index: 5; float: left; width: 216px; height: 180px; margin: -1px 0 0 -1px; }
   .list-r li .container { position: absolute; z-index: 10; float: left; display: block; width: 214px; height: 178px; background-color: #fff; border: 1px solid #e1e1e1; color: #707070; text-decoration: none; }
   .list-r li:hover { z-index: 10; }
   .list-r li:hover .container { border-color: #2066aa; /*top: 5px; left: -5px;*/ }
   .list-r li .container .image { position: relative; height: 128px; margin-bottom: 0; }
    .list-r li .container .image img,
    .list-r li .container .image canvas { display: block; z-index: 5; position: absolute; top: 25px; left: 48px; }
    .list-r li .container .image .bw { opacity : 0.5; }
    .list-r li .container .image .col { display: none; }
    .list-r li:hover .container .image .col { display: block; }
    .list-r li:hover .container .image .bw { display: none; }
    .list-r li .container .title { height: 50px; background: url(../images/list-r-item-bg.png) 0 -100px repeat-x; font: italic 1em/50px Georgia, Times New Roman, serif; text-align: center;  }
    .list-r li:hover .container .title { color: #fff; background-position: 0 0; }
   .list-r li .shadow { position: absolute; z-index: 5; }
   .list-r li .shadow-1 { top: 0; right: 0; width: 216px; height: 180px; background: url(../images/list-r-item-shadow-1.png) 100% 0 no-repeat; }
   /*.list-r li:hover .shadow-1 { width: 221px; height: 185px; } */
   .list-r li .shadow-2 { top: 0; left: 0; width: 216px; height: 180px; background: url(../images/list-r-item-shadow-2.png) 0 100% no-repeat; opacity: 0; }
   /*.list-r li:hover .shadow-2 { width: 228px; height: 193px; top: 0; left: -12px; opacity: 1; } */

 .list-s { list-style: none; margin: 0; padding: 0; }
  .list-s li { float: left; padding: 0 10px 10px 0; }
   .list-s li a { display: block; width: 100px; height: 100px; overflow: hidden; border: 1px solid #dedede; -webkit-border-radius: 5px; border-radius: 5px; }
   .list-s li a:hover { border-color: #808080; }
    .list-s li a img { display: block; -webkit-border-radius: 5px; border-radius: 5px; }

 .list-t { list-style: none; margin: 0; padding: 0; }
  .list-t li { padding-bottom: 3px; }
   .list-t li a { position: relative; padding-left: 22px; display: block; color: #1d64a9; background: url(../images/sprite-set-1.png) -850px -250px no-repeat; text-decoration: none; }
   .list-t li a:hover { text-decoration: underline; }

 .list-u { list-style: none; margin: 0; padding: 0; }
  .list-u li { overflow: hidden; width: 100%; padding-bottom: 8px; }


 .list-v { position: relative; z-index: 5; clear: both; list-style: none; margin: 0; padding: 60px 0 0 61px; }
 .list-v:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  .list-v li { position: relative; z-index: 5; float: left; width: 287px; height: 144px; margin: -1px 0 0 -1px; font-size: 1.2em; }
   .list-v li .container { position: absolute; z-index: 10; float: left; display: block; width: 285px; height: 142px; background-color: #fff; border: 1px solid #e1e1e1; color: #707070; cursor: pointer; }
   .list-v li:hover { z-index: 10; }
   .list-v li.active { z-index: 9; }

   .list-v li.active .container { /*top: 0 !important; left: 0 !important;*/ }

   .list-v li:hover .container { border-color: #2066aa; }
   .list-v li.active .container { position: relative; border-color: #2066aa;  }
   .list-v li.active .container:before { position: absolute; bottom: -12px; left: 10px; display: block; content: ''; overflow: hidden; width: 12px; height: 12px; background: url(../images/sprite-set-1.png) -600px -150px no-repeat; text-indent: -10001px; }
   .list-v li .container .image { position: relative; width: 139px; height: 124px; margin: 9px 0 0 9px; float: left; }
    .list-v li .container .image img,
    .list-v li .container .image canvas { display: block; z-index: 5; position: absolute; }
    .list-v li:hover .container .image canvas,
    .list-v li.active .container .image canvas { z-index: 2; }
    .list-v li .container .content { margin-left: 158px; padding-top: 10px; }
     .list-v li .container .content h2 { margin-bottom: 2px; font-size: 1em; }
     .list-v li .container .content p { padding-right: 10px; font-size: 0.9em; line-height: 1.38; }
     .list-v li .container .info { display: none; }
    .list-v li:hover .container .content {  }
   .list-v li .shadow { position: absolute; z-index: 5; }
   .list-v li .shadow-1 { top: 0; right: 0; width: 287px; height: 144px; background: url(../images/list-v-item-shadow-1.png) 100% 0 no-repeat; }
   .list-v li .shadow-2 { top: 0; left: 0; width: 287px; height: 144px; background: url(../images/list-v-item-shadow-2.png) 0 100% no-repeat; opacity: 0; }

    /*.list-v li.active .shadow-1,
   .list-v li.active .shadow-2 { display: none; } */

 .list-v .info-box-a { position: relative; clear: both; z-index: 7; overflow: hidden; margin: 0 0 0 -61px; padding: 25px 60px; color: #fff; background-color: #1d64a9; }
  .list-v .info-box-a blockquote { position: relative; margin: 0; padding: 0 26px; }
   .list-v .info-box-a blockquote:before { position: absolute; top: 5px; left: 0; display: block; content: ''; overflow: hidden; width: 13px; height: 10px; background: url(../images/sprite-set-1.png) -500px -900px no-repeat; text-indent: -10001px; }
   .list-v .info-box-a blockquote:after { position: absolute; bottom: 5px; right: 10px; display: block; content: ''; overflow: hidden; width: 13px; height: 10px; background: url(../images/sprite-set-1.png) -513px -900px no-repeat; text-indent: -10001px; }
   .list-v .info-box-a blockquote p { font: italic 1.2em/1.75 Georgia, Times New Roman, serif; }
  .list-v .info-box-a p { margin-bottom: 0; line-height: 1.75; }

 .list-w { list-style: none; margin: 0; padding: 0; }
  .list-w li { position: relative; float: left; width: 143px; text-align: center; }
   .list-w li:before { position: absolute; top: 19px; left: 0; display: block; content: ''; overflow: hidden; width: 1px; height: 58px; background: #e9e9e9; text-indent: -10001px; }
   .list-w li:first-child:before { display: none; }

.list-x { list-style: none; margin: 0; padding: 0; }
 .list-x li { position: relative; margin-bottom: 8px; padding-left: 21px; font: normal 1.8em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; color: #333; }
 .list-x li:before { position: absolute; top: 6px; left: 0; display: block; content: ''; overflow: hidden; width: 8px; height: 8px; background: #a1c5da; text-indent: -10001px; -webkit-border-radius: 4px; border-radius: 4px; }
.lx-a {  }
 .lx-a li {  }
 .lx-a li:before { background-color: #e09842; }

.list-y { position: relative; z-index: 10; float: left; list-style: none; margin: 0 0 14px 0; padding: 0; background-color: #0f437d; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3); box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3); }
 .list-y li { float: left; margin: 2px; }
  .list-y li a { display: block; padding: 3px 5px; -webkit-border-radius: 3px; border-radius: 3px; }
  .list-y li.active a { background-color: #3e80b7; }
  .list-y li a:hover { background-color: #316fa6; }
   .list-y li a img { display: block; padding: 1px; }
   .list-y li.active a img { display: block; padding: 0; border: 1px solid #0c3e76; }

 .video-list { position: relative; overflow: hidden; list-style: none; margin: 0; padding: 0; width: 960px; height: 540px; }
  .video-list li { width: 960px; height: 540px; }

 /*.video-box-b { position: relative; z-index: 120; overflow: hidden; width: 100%; margin-bottom: -60px; }
  .video-box-b .vb-container { position: relative; float: left; left: 50%; }
   .video-box-b .vb-container .video-a { overflow: visible; position: relative; float: left; left: -50%; margin: 0 10px; padding: 10px 0; }
    .video-box-b .vb-container .video-a a { -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);  }
   .video-box-b .vb-container .video-a:first-child:before { position: absolute; top: -5px; left: -100px; display: block; content: ''; overflow: hidden; width: 63px; height: 53px; background: url(../images/sprite-set-1.png) -900px -400px no-repeat; text-indent: -10001px; } */

 .video-box-b { position: relative; z-index: 120; overflow: hidden; width: 100%; margin-bottom: 40px; }
  .video-box-b .vb-container { position: relative; float: left; left: 50%; }
   .video-box-b .vb-container .video-a { overflow: visible; position: relative; float: left; left: -50%; margin: 0 10px; padding: 10px 0; }
    .video-box-b .vb-container .video-a a { -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);  }

 .video-a a { position: relative; display: block; width: 220px; height: 124px; color: #333; overflow: hidden; text-decoration: none; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.15); box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.15); }

.video-a a .image-container { display: block; width: 220px; height: 124px; overflow: hidden; -webkit-border-radius: 6px; border-radius: 6px; }
  .video-a a img { display: block; width: 220px; height: 124px; overflow: hidden; -webkit-border-radius: 6px; border-radius: 6px; }
  .video-a a img.yt { margin-top: -21px; height: auto; }
 .video-a a:before { position: absolute; top: 29px; left: 50%; display: block; content: ''; overflow: hidden; width: 29px; height: 29px; margin: 0 0 0 -15px; background: url(../images/sprite-set-1.png) -300px 0 no-repeat; text-indent: -10001px; }
  .video-a a .subtitle { position: absolute; bottom: 0; left: 0; display: block; width: 100%; height: 38px; line-height: 1.2; background-color: #fff; text-align: center; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;  }
  .video-a a .subtitle span { display: block; padding: 0 20px; }
  .video-a a:hover .subtitle,
  .video-a a.active .subtitle { color: #fff; background-color: rgba(47,47,47,0.85); }
  .video-a a.active .subtitle:before { position: absolute; top: 50%; right: 11px; display: block; content: ''; overflow: hidden; width: 9px; height: 9px; margin-top: -5px; background: url(../images/sprite-set-1.png) -600px -200px no-repeat; text-indent: -10001px; }
 .va-a { float: right; padding-right: 4px; }
 .va-b { float: left; padding-right: 10px; }

/*! paragraphs ---- */

 .btn-a { line-height: 1.3; }

 .text-a { height: 27px; font-size: 1.1em; color: #868686; line-height: 27px; }
  .text-a a,
  .text-a span { display: block; float: left; height: 27px; line-height: 27px; }
 .ta-a { float: right; padding-right: 42px; }

 .text-b { margin-bottom: 30px; color: #454545; }
 .tb-a { margin-bottom: 30px; color: #4e5f70; font-family: ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 1.8em; text-align: center; }

 .text-c { font: italic 1.2em/1.75 Georgia, Times New Roman, serif; }

 .text-d { margin-bottom: 20px; font: normal 1.8em/1.33 ProximaNovaRgRegular,Arial,Helvetica Neue,Helvetica,sans-serif; text-align: center; }
 .td-a { margin-bottom: 9px; text-align: left; }
 .td-b { margin-bottom: 25px; font-size: 1.6em; }
 .td-c { margin-bottom: 35px; }

 .text-e { margin-bottom: 0; }

 .text-f { color: #8d8d8d; font-size: 1.1em !important; }

 .text-g { position: absolute; left: 50%; z-index: 10; overflow: hidden; width: 980px; height: 97px; margin: 0 0 0 -490px; }

 .text-h { margin-top: 25px; color: #454545; }

 .text-i { padding: 0 60px; }
  .text-i:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.text-j { width: 800px; margin: 0 auto; font-size: 1.1em; color: #868686; text-align: center; line-height: 1.25; }
 .text-j a { color: #868686; text-decoration: none; }

.text-k { font-size: 1.2em; line-height: 1.38; }
 .tk-a { margin-top: -20px; padding: 0 130px 10px 161px; }
 .tka-a { margin: 0; color: #728596; font-size: 1.1em; }

.text-l { clear: both; margin: 0; padding-top: 10px; }

 .btn-b { position: relative; float: left; left: 50%; line-height: 1.3; }
  .btnb-a { margin-bottom: 40px; }
 .btn-c { float: right; padding-right: 34px; line-height: 1.3; }

.button-a { position: absolute; right: 13px; bottom: 13px; margin: 0; }

 .image-c { width: 100%; overflow: hidden; border-bottom: 1px solid #cfdbe8; }
  .image-c img { display: block; }

 .image-d { position: relative; overflow: hidden; display: block; width: 139px; height: 124px; }
  .image-d:before { position: absolute; z-index: 50; bottom: 0; left: 0; display: block; content: ''; overflow: hidden; width: 139px; height: 14px; background: url(../images/sprite-set-1.png) -500px -114px no-repeat; text-indent: -10001px; }

 .image-e { clear: both; margin-bottom: 0; }
  .image-e img { display: block; margin: 0 auto; }

 .image-f { margin-bottom: 28px; }
  .image-f img { display: block; margin: 0 auto; }

 .image-g { clear: both; margin-bottom: 0; }
  .image-g span { display: block; }

 .image-h { margin: 0 -60px 25px -60px; }
  .image-h img { display: block; margin: 0 auto; }
 .imh-a { margin-top: 25px; }

 .image-i { clear: both; margin: -10px 0 20px 0; }
  .image-i img	{ display: block; margin: 0 auto; }

 .image-j { position: absolute; top: 20px; left: -135px; }
  .image-j img	{ }

 .top-button { display: none; position: fixed; z-index: 150; right: 50%; top: 50%; width: 31px; margin: 0 -505px 0 0; font-size: 1.1em; }

 .more-e { padding: 40px 40px 0 40px; font-size: 1.4em; font-weight: bold; text-align: center; }

/*! quotation ---- */

blockquote, q { quotes: none; font-style: italic; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }


/*! links --------- */

a { color: #09f; text-decoration: underline; }
a:hover, a:focus, a:active { color: #000; text-decoration: underline; }

 .link-a { position: relative; float: left; display: block; height: 33px; padding: 0 36px 0 10px; color: #683b02; background: url(../images/btn-2.png) 0 0 repeat-x; border: 1px solid #ce8931; line-height: 33px; text-decoration: none !important; text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4); -webkit-border-radius: 5px; border-radius: 5px; }
 .link-a:hover { border-color: #ce8931; background-position: 0 -33px;/* -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15); box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.15);*/ }
 .link-a:before { position: absolute; top: 50%; right: 10px; display: block; content: ''; overflow: hidden; width: 15px; height: 16px; margin-top: -8px; background: url(../images/sprite-set-1.png) -100px -50px no-repeat; text-indent: -10001px; }
 .link-a:hover:before { background-position: -115px -50px; }

 .lnka-a { position: relative; float: left; left: -50%; }

 .link-b { position: relative; left: -50%; display: block; float: left; padding-right: 25px; font-style: italic; color: #fff; text-decoration: none; }
 .link-b:hover { color: #fff; text-decoration: none; }
 .link-b:before { position: absolute; top: 0; right: 0; display: block; content: ''; overflow: hidden; width: 15px; height: 15px; background: url(../images/sprite-set-1.png) -500px -50px no-repeat; text-indent: -10001px; }
 .link-b:hover:before { background-position: -515px -50px; }

 .lnkb-a { color: #707070; }
 .lnkb-a:before { }
 .lnkb-a:hover { color: #3175c4; }
 .lnkb-a:hover:before { background-position: -530px -50px !important; }

 .lnkb-b { right: 0; float: right; }
 .lnkb-b:before { background-position: -560px -50px !important; }
 .lnkb-b:hover:before { background-position: -545px -50px !important; }

 .lnkb-c { left: 0; }

 .link-c { display: block; overflow: hidden; width: 31px; height: 31px; background: url(../images/sprite-set-1.png) -700px -200px no-repeat; text-indent: -10001px; }
 .link-c:hover { background-position: -731px -200px; }

 .link-d { display: block; height: 45px; background: url(../images/more-e-bg.png) 0 0 repeat-x; color: #1d64a9; border: 1px solid #cfdce9; line-height: 45px; text-decoration: none; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 84, 109, 0.1); box-shadow: 0px 1px 2px 0px rgba(50, 84, 109, 0.1);  }
 .link-d:hover { background-position: 0 -45px; color: #1d64a9; text-decoration: none; }
 .link-d:active { background-position: 0 -45px; color: #1d64a9; text-decoration: none; }
 .link-d:focus { background-position: 0 -45px; color: #1d64a9; text-decoration: none; }

 .link-e { display: block; width: 980px; height: 97px; overflow: hidden; text-indent: -10001px; }

 .link-f { position: relative; padding-left: 22px; display: block; color: #1d64a9; background: url(../images/sprite-set-1.png) -850px -250px no-repeat; text-decoration: none; }
  .link-f:hover { text-decoration: underline; }
 .lnkf-a { float: right; }

 .link-g { overflow: hidden; display: block; width: 27px; height: 27px; background: url(../images/sprite-set-1.png) -600px -900px no-repeat; text-indent: -10001px; }
 .link-g:hover { background-position: -600px -927px; }
 .lnkg-a { background-position: -627px -900px; }
 .lnkg-a:hover { background-position: -627px -927px; }

 .author { position: relative; margin-left: 5px; padding-right: 34px; color: #fff; text-decoration: none; }
 .author:before { position: absolute; top: 0; right: 0; display: block; content: ''; overflow: hidden; width: 26px; height: 27px; background: url(../images/sprite-set-1.png) 0 -200px no-repeat; text-indent: -10001px; }
 .author:hover { text-decoration: underline; color: #fff; }

 .button-b { overflow: hidden; width: 100%; font-size: 1.5em !important; text-align: center; }
  .button-b a { display: inline-block !important; float: none; padding: 0 36px 0 20px; }

.button-c-container { position: relative; width: 900px; height: 100px; margin: 0 auto; font: normal 3em/1.3 ProximaNovaLtLight,Arial,Helvetica Neue,Helvetica,sans-serif; }
.button-c { display: block; position: absolute; bottom: -22px; width: 750px; height: 100px; margin: 0; padding-right: 150px; text-align: center; color: #612B00; line-height: 100px; text-align: center; text-shadow: 0 1px 0 #F1AF41; text-decoration: none; cursor: pointer; }
.button-c:hover { color: #612B00; text-decoration: none; }
 .button-c span { position: relative; z-index: 2; }
.button-c:before { z-index: 1; position: absolute; top: 0; left: 0; display: block; content: ''; overflow: hidden; width: 100%; height: 100%; background: url(../images/sprite-set-1.png) 0 -1200px no-repeat; text-indent: -10001px; }
.button-c:hover:before { background-position: 0 -1300px; }

/*! images -------- */

img { border-width: 0; image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; }

/*! other --------- */

pre { font-family: Consolas,Monaco,Courier New,monospace; white-space: pre-wrap; }
address { font-style: normal; }

 .slider-2-nav { position: absolute; display: block; overflow: hidden; width: 43px; height: 43px; background: url(../images/sprite-set-1.png) -400px -43px no-repeat; text-indent: -10001px; cursor: pointer; }
 .slider-2-nav.prev { top: 35px; left: 0; z-index: 100;  }
 .slider-2-nav.next { background-position: -443px -43px; top: 35px; right: 0; z-index: 100; }
 .slider-2-nav.prev:hover,
 .opened .slider-2-nav.prev:hover { background-position: -400px 0; }
 .slider-2-nav.next:hover,
 .opened .slider-2-nav.next:hover { background-position: -443px 0px; }
 .opened .slider-2-nav.next { background-position: -443px -200px; }
 .opened .slider-2-nav.prev { background-position: -400px -200px; }

/*! helpers ------- */

.offset { position: absolute !important; left: -10001px !important; overflow: hidden !important; }
mark { background: none; }

.mark-checked { overflow: hidden; display: block; width: 20px; height: 21px; background: url(../images/sprite-set-1.png) 0 -1400px no-repeat; text-indent: -10001px; }


/*! mobile -------- */

@media only screen and (max-device-width: 480px) { html { -webkit-text-size-adjust: none; } }

/*! specific ------ */

 .only-js { display: none; }
 .js .only-js { display: block; }

 .js .request-contact-container { opacity: 0; display: none; }
 .js .info-box-a { opacity: 0; display: none; }

 .temp-content { height: 500px; width: 500px; border: 1px solid #000; }

 .sequence-container-a {  }

 .jcarousel-container {  }
 .jcarousel-clip { width: 720px; margin: 0 auto; overflow: hidden; }
 .jcarousel-prev-disabled,
 .jcarousel-next-disabled { display: none !important; }

 #modal-box-1 { display: none; background: #000 url(../images/ajax-loader.gif) 50% 50% no-repeat; }

 .carousel-main-container {  }

 .video-box-a { position: absolute; top: 100px; left: 50%; width: 960px; height: 540px; margin-left: -480px; z-index: 9999; -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5); box-shadow: 0px 0px 5px rgba(0,0,0,0.5); }
  .video-box-a .wrapper { overflow: hidden; width: 960px; height: 540px; }
  .video-box-a .modal-close { position: absolute; right: 0; display: block; top: -35px; overflow: hidden; width: 31px; height: 31px; background: url(../images/sprite-set-1.png) -700px -231px no-repeat; text-indent: -10001px; }
  .video-box-a .modal-close:hover { background-position: -731px -231px; }

 .panes-a { position: relative; overflow: hidden; }
  .panes-a .pane-a { overflow: hidden; width: 100%; position: absolute; top: 0; left: 0; }
 .pna-a { padding-bottom: 20px; }

 .cycle-c-nav { float: left; display: block; overflow: hidden; width: 34px; height: 37px; background: url(../images/sprite-set-1.png) -200px -400px no-repeat; text-indent: -10001px; }
 .cycle-c-nav.prev {  }
 .cycle-c-nav.next { background-position: -234px -400px; }
 .cycle-c-nav.prev:hover { background-position: -200px -437px; }
 .cycle-c-nav.next:hover { background-position: -234px -437px; }

 #swipe { /*background: #fff; */  top: 0; left: 50%; margin-left: -500px; position: absolute; z-index: 200; width: 580px; height: 470px; }

 .cycle-c .slide { width: 100%; }

 #preloader { display: none; }

body#regularTiny,
body#wideTiny,
body#simpleTiny,
body#mceTemplatePreview { width: 640px; margin: 0; padding: 60px; background: #fff; border-right: 1px dashed #ddd; }

body#simpleTiny { margin: 0; padding: 5px; background: #fff; }
body#wideTiny { width: 860px; }

hr { display: block; margin: 60px -60px; height: 1px; overflow: hidden; border: none; background: #e3e3e3 0 0 no-repeat; }

 .equal-height { overflow: visible !important; }


/*! predefined formats ------ */

 .format-a {  }
  .format-a .image { margin-bottom: 0; float: right; }
   .format-a .image img { display: block; }

 .format-b { }
  .format-b .header-h { margin-left: 320px; }
  .format-b .cols-two-e {  }
   .format-b .primary-te { float: right; }
   .format-b .secondary-te { float: left; margin-left: -60px; }
  .format-b .image { margin-bottom: 0; float: left; }
   .format-b .image img { display: block; }

 .format-c .cols-two-d { margin: 0; padding-bottom: 0; }

 .format-d { margin: 0 -60px; padding: 0 60px 20px 60px; }


.fancybox-tmp iframe,.fancybox-tmp object{vertical-align:top;margin:0;padding:0;}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}
.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:0;padding:0;}
.fancybox-opened{z-index:8030;}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5);}
.fancybox-outer,.fancybox-inner{position:relative;outline:none;margin:0;padding:0;}
.fancybox-inner{overflow:hidden;}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}
.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:10px;}
.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%;border:0;vertical-align:top;margin:0;padding:0;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url(../images/fancybox_sprite.png);}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8020;}
#fancybox-loading div{width:44px;height:44px;background:url(../images/fancybox_loading.gif) center center no-repeat;}
.fancybox-close{position:absolute;top:-35px;right:0;width:31px;height:31px;cursor:pointer;z-index:8040; background: url(../images/sprite-set-1.png) -700px -231px no-repeat;}
.fancybox-close:hover{ background-position: -731px -231px; }
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;background:transparent url(../images/blank.gif);-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}
.fancybox-prev span{left:20px;background-position:0 -36px;}
.fancybox-next span{right:20px;background-position:0 -72px;}
.fancybox-tmp{position:absolute;top:-9999px;left:-9999px;overflow:visible;visibility:hidden;padding:0;}
#fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:#234e80;}
#fancybox-overlay.overlay-fixed{position:fixed;bottom:0;right:0;}
.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050;}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8030;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap;padding:2px 20px;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{margin-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;background:rgba(0,0,0,.8);padding:10px;}
.fancybox-nav:hover span,.fancybox-opened .fancybox-title{visibility:visible;}
